<!-- header -->
<div class="containerbody">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="example-sidenav-content">
      <button id="sidebar" class="hamburger mat-button" mat-button (click)="snav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <img src="assets/img/CenseoSphere_logo.png">
    <a data-toggle="modal" href="#signup" id="login">Login</a>
  </nav>
</div>
<!-- end header -->
<!-- side bar container -->
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav mode="side" class="example-sidenav">
    <div *ngFor="let category of categories">
      <mat-nav-list class="matlist">
        <h3 id="sidebarheading">{{category.category}}</h3>
        <!-- <a mat-list-item matButton routerLink="." *ngFor="let subCategory of subCategories">{{subCategory.subCategory}}</a>
       -->
        <ul>
          <h4>
            <li *ngFor="let subCategory of subCategories"><a href="#"
                class="subcategory">{{subCategory.subCategory}}</a></li>
          </h4>
        </ul>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  
  <!-- jumbotron start -->
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 id="jumbotronheading">India's Largest Review Platform</h1>
      <form>
        <div class="form-group">
          <input type="text" placeholder="search here to write a review" name="search" class="form-control col-md-3"
            id="jumbotroninput"><br>
          <button type="submit" class="btn btn-success" id="reviewbutton" data-toggle="modal"
            data-target="#signup1">Write
            a Review</button>&nbsp;
          <button type="submit" class="btn btn-success" id="productbutton" data-toggle="modal"
            data-target="#signup2">Post
            a Product</button>
        </div>
      </form>
    </div>
  </div>
  <!-- end jumbotron -->

  <!--  start carousel for recent products -->
  <div id="container">
    <h2>Recent Products</h2>
    <div ng2-carouselamos class="slides-wrapper" [items]="products" [width]="900" [$prev]="prev" [$next]="next"
      [$item]="product">
    </div>

    <ng-template #prev>
      <img src="../../assets/img/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
    </ng-template>

    <ng-template #next>
      <img src="../../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
    </ng-template>

    <ng-template #product let-product let-i="index">
      <div class="products">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img src="{{product.image}}" class="img-responsive img-fluid" alt="">
          </div>
          <div class="thumb-content">
            <h4>{{product.productName}}</h4>
            <div class="star-rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
            <p class="item-price"><b>{{product.price}}</b></p>
            <h6>2 reviews</h6>
          </div>
        </div>
      </div>&nbsp;
    </ng-template>
  </div>
  <!-- end carousel for recent products -->

  <!--  start carousel for recent reviews -->
  <div id="container1">
    <h2>Recent Reviews</h2>
    <div ng2-carouselamos class="slides-wrapper" [items]="products" [width]="900" [$prev]="prev" [$next]="next"
      [$item]="product">
    </div>

    <ng-template #prev>
      <img src="../../assets/img/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
    </ng-template>

    <ng-template #next>
      <img src="../../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
    </ng-template>

    <ng-template #product let-product let-i="index">
      <div class="products">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img src="{{product.image}}" class="img-responsive img-fluid" alt="Image not available">
          </div>
          <div class="thumb-content">
            <h4>{{product.productName}}</h4>
            <div class="star-rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
            <p class="item-price"><b>{{product.price}}</b></p>
            <h6>2 reviews</h6>
          </div>
        </div>
      </div>&nbsp;
    </ng-template>
  </div>
  <!-- end carousel for recent reviews -->

  <!-- sign up modal window for login -->
  <div class="modal fade" data-backdrop="" id="signup" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="Title">Sign In</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="emailId">Email-Id</label>
              <input type="text" id="emailId" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" id="signinbutton">Sign In</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()">Revierwer</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()">Product
            Owner</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end sign up modal window -->
  
  <!-- sign up 1 modal window for reviewer -->
  <div class="modal fade" data-backdrop="" id="signup1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="title">Sign In</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="revieweremailId">Email-Id</label>
              <input type="text" id="revieweremailId" class="form-control">
            </div>
            <div class="form-group">
              <label for="reviewerpassword">Password</label>
              <input type="password" name="password" id="reviewerpassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" id="reviewersigninbutton" (click)="reviewer()">Sign
              In</button>
          </form>
        </div>
        <div class="modal-footer">
          <label for="rsubmitbutton" id="newaccountlabel">New Account </label>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()"
            id="rsubmitbutton">Revierwer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end sign up 1 modal window -->
  
  <!-- sign up 2 modal window for product owner -->
  <div class="modal fade" data-backdrop="" id="signup2" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="productownertitle">Sign In</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="productowneremailId">Email-Id</label>
              <input type="text" id="productowneremailId" class="form-control">
            </div>
            <div class="form-group">
              <label for="productownerpassword">Password</label>
              <input type="password" name="password" id="productownerpassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" id="productownersigninbutton" (click)="productOwner()">Sign In</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()"
            id="psubmitbutton">Product Owner</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end sign up 2 modal window -->

</mat-sidenav-container>
<!-- end side bar container -->

<!-- footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><strong> About Us</strong></a>
          </li>
        </ul>

      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Contact Us</Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Feedback <i class="fa fa-comments"></i></Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Terms & Condition</Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li>
            <h5><strong>Social Sites</strong></h5>
          </li>
          <li id="socialsite">
            <a href="#"><i class="fa fa-twitter-square"></i> </a>&nbsp;
            <a href="#"><i class="fa fa-facebook-square"></i> </a>&nbsp;
            <a href="#" id="envelope"><i class="fa fa-envelope"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->