<!-- header -->
<div class="containerbody">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="example-sidenav-content">
      <button id="sidebar" class="hamburger mat-button" mat-button (click)="snav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <img src="assets/img/CenseoSphere_logo.png">
    <a data-toggle="modal" href="#signup" id="login">Login</a>
  </nav>
</div>
<!-- end header -->
<!-- side bar container -->
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav mode="side" class="example-sidenav">
    <div *ngFor="let category of categories">
    <mat-nav-list class="matlist">
      <h3 id="sidebarheading">{{category.category}}</h3>
      <!-- <a mat-list-item matButton routerLink="." *ngFor="let subCategory of subCategories">{{subCategory.subCategory}}</a>
       -->
       <ul>
         <h4><li *ngFor="let subCategory of subCategories"><a href="#" class="subcategory">{{subCategory.subCategory}}</a></li></h4>
       </ul>
    </mat-nav-list>
  </div>
  </mat-sidenav>
  <!-- jumbotron start -->
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 id="jumbotronheading">India's Largest Review Platform</h1>
      <form>
        <div class="form-group">
          <input type="text" placeholder="search here to write a review" name="search" class="form-control col-md-3"
            id="jumbotroninput"><br>
          <button type="submit" class="btn btn-success" id="reviewbutton" data-toggle="modal"
            data-target="#signup1">Write
            a Review</button>&nbsp;
          <button type="submit" class="btn btn-success" id="productbutton" data-toggle="modal"
            data-target="#signup2">Post
            a Product</button>
        </div>
      </form>
    </div>
  </div>
  <!-- end jumbotron -->

  <!--  start carousel -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="carouselheading">Recent  <b>Products</b></h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <!-- <div *ngFor="let product of products"> -->
            <div class="row">
               <div class="col-sm-3" *ngFor="let product of products">&nbsp;  
                <div class="thumb-wrapper">
                  <!-- <div *ngFor="let product of products">  -->
                      <div class="img-box">
                    <img src="{{product.image}}" class="img-responsive img-fluid" alt="">                  
                  </div>
                  <div class="thumb-content">
                    <h4>{{product.productName}}</h4>                 
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><b>{{product.price}}</b></p>
                    <h6>2 reviews</h6>
                  </div> 
              <!-- </div>  -->
                </div>
              </div>
                <!-- <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                  <img src="/assets/img/headphone.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Sony Headphone</h4>                 
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"> <b>$23.99</b></p>
                                      <h6>3 reviews</h6>
                  </div>            
                </div>
              </div>    
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  
                  <div class="img-box">
                    <img src="/assets/img/macbook-air.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Macbook Air</h4>                  
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"> <b>$649.00</b></p>
                    <h6>3 reviews</h6>
                  </div>            
                </div>
              </div>                
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                
                  <div class="img-box">
                    <img src="/assets/img/nikon.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Nikon DSLR</h4>                 
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"> <b>$250.00</b></p>
                    <h6>5 reviews</h6>
                  </div>            
                </div>
              </div>
            </div>
          </div>
          <div class="item carousel-item">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  
                  <div class="img-box">
                    <img src="/assets/img/play-station.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Sony Play Station</h4>
                    <p class="item-price"> <span>$269.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <h6>3 reviews</h6>
                  </div>            
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  
                  <div class="img-box">
                    <img src="/assets/img/macbook-pro.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Macbook Pro</h4>
                    <p class="item-price"> <span>$869.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                      </ul>
                    </div>
                    <h6>3 reviews</h6>
                  </div>            
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  
                  <div class="img-box">
                    <img src="/assets/img/speaker.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Bose Speaker</h4>
                    <p class="item-price"><span>$99.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <h6>3 reviews</h6>
                  </div>            
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                
                  <div class="img-box">
                    <img src="/assets/img/galaxy.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Samsung Galaxy S8</h4>
                    <p class="item-price"> <span>$569.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <h6>5 reviews</h6>
                  </div>            
                </div>
              </div>            
            </div>
          </div>
          <div class="item carousel-item">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  
                  <div class="img-box">
                    <img src="/assets/img/iphone.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Apple iPhone</h4>
                    <p class="item-price"> <span>$349.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <h6>2 reviews</h6>
                  </div>            
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                
                  <div class="img-box">
                    <img src="/assets/img/canon.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Canon DSLR</h4>
                    <p class="item-price">$315.00 <span>$250.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <h6>5 reviews</h6>
                  </div>            
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  
                  <div class="img-box">
                    <img src="/assets/img/pixel.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Google Pixel</h4>
                    <p class="item-price"><span>$418.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                      </ul>
                    </div>
                    <h6>7 reviews</h6>
                  </div>            
                </div>
              </div>  
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  
                  <div class="img-box">
                    <img src="/assets/img/watch.jpg" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>Apple Watch</h4>
                    <p class="item-price"> <span>$330.00</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <h6>8 reviews</h6>
                  </div>            
                </div>
              </div> -->
            </div>
            <!-- </div> -->
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      </div>
    </div>
  </div>
  <!-- end carousel -->
  <!-- sign up modal window for login -->
  <div class="modal fade" data-backdrop="" id="signup" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="Title">Sign In</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="emailId">Email-Id</label>
              <input type="text" id="emailId" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" id="signinbutton">Sign In</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()">Revierwer</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()">Product
            Owner</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end sign up modal window -->
  <!-- sign up 1 modal window for reviewer -->
  <div class="modal fade" data-backdrop="" id="signup1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="title">Sign In</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="revieweremailId">Email-Id</label>
              <input type="text" id="revieweremailId" class="form-control">
            </div>
            <div class="form-group">
              <label for="reviewerpassword">Password</label>
              <input type="password" name="password" id="reviewerpassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" id="reviewersigninbutton" (click)="reviewer()">Sign In</button>
          </form>
        </div>
        <div class="modal-footer">
          <label for="rsubmitbutton" id="newaccountlabel">New Account </label>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()"
            id="rsubmitbutton">Revierwer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end sign up 1 modal window -->
  <!-- sign up 2 modal window for product owner -->
  <div class="modal fade" data-backdrop="" id="signup2" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="productownertitle">Sign In</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="productowneremailId">Email-Id</label>
              <input type="text" id="productowneremailId" class="form-control">
            </div>
            <div class="form-group">
              <label for="productownerpassword">Password</label>
              <input type="password" name="password" id="productownerpassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" id="productownersigninbutton">Sign In</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()"
            id="psubmitbutton">Product Owner</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end sign up 2 modal window -->
</mat-sidenav-container>
<!-- end side bar container -->
<!-- footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><strong> About Us</strong></a>
          </li>
        </ul>

      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Contact Us</Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Feedback <i class="fa fa-comments"></i></Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Terms & Condition</Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li>
            <h5><strong>Social Sites</strong></h5>
          </li>
          <li id="socialsite">
            <a href="#"><i class="fa fa-twitter-square"></i> </a>&nbsp;
            <a href="#"><i class="fa fa-facebook-square"></i> </a>&nbsp;
            <a href="#" id="envelope"><i class="fa fa-envelope"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->



