.navbar{
    background-color:aliceblue;
    position: relative;
    height: 80px;
}
nav img{
    height: 60px;
    width: 200px;
    position: fixed;
    margin-left: 70px;
}
#login{
   color: black;
   font-size: 25px; 
   position: absolute;
   right: 0;
   top: 0;
   margin-top: 17px;
   margin-right: 30px;
}
#login:hover{
    color:rgb(4, 11, 119);
    font-size: 30px;
}
.containerbody,.modal,.jumbotron    {
    font-family: 'Work Sans', sans-serif;
}
.icon-bar{
    size: 30px;
}
.modal-title
{
    padding-left: 80px;
}
.modal-header h3{
    margin:0;
}

label{
    text-align: left;
}
/* #sidebar{
    font-size: 35px;
    color: black;
} */
.jumbotron{
    height: 400px;
    background: url('../../assets/img/appliances-home.png') center center no-repeat;
}

#productbutton{
    margin-left:60px;
    
}
#rsubmitbutton{
    margin-left: 10px;
   
}
#jumbotroninput{
    width: 900px;
    margin-left: 130px;
    
}
#jumbotronheading{
    background: rgba(0,0,0,0.4);
    color:white;
    margin-top: 80px;
}
