.containerbody{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
}
.navbar{
    background-color:lightblue;
    position: relative;
    height: 80px;
    position: fixed;
}
nav img{
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 70px;
}
.containerbody,.modal,.jumbotron, footer,li ,h3 ,h2, .thumb-wrapper  {
    font-family: 'Work Sans', sans-serif;
}
.icon-bar{
    size: 80px;
}
 nav .dropdown{
  
   color: black;
   font-size: 20px;
   position: absolute;
   right: 0;
   top: 0;
   margin-top:20px;
   margin-right:100px;
   
 }

body {
	background: #e2eaef;
	font-family: "Open Sans", sans-serif;
}
.jumbotron{
   height: 500px;
   background: url('../../assets/img/Electronics-Supply-Chain-1024x375.jpg') center center no-repeat;
   background-size: 100%;
}
#jumbotroninput{
   width: 600px;
   margin-left: 250px;

}
#jumbotronheading{
   background: rgba(0,0,0,0.4);
   color:white;
   margin-top: 150px;
}
footer
{
    margin-top: 80px;
    padding-top: 25px;
    background-color: #f2f2f2;
    font-size: 14px;
    height: 180px;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: #17a2b8;
    position: relative;
}
footer a:hover{
    color: midnightblue;
    font-size: 18px;
}
.fakeimg {
    height: 200px;
    background: #aaa;
  }
  .thumb-wrapper {
    margin-left: 4px;
    margin-right: 3px;
	padding: 25px 15px;
	background: #def2f1;
	border-radius: 9px;
	text-align: center;
	position: relative;
    box-shadow: 1.5px 1.5px 3px rgba(0,0,0,2.5);
    width: 300px;
    color: midnightblue;
    font-size: 12px;
}
.img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
 .img-box img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
h4 {
	font-size: 18px;
}
 h4,   p,  ul {
	margin-bottom: 5px;
}

.item-price {
	font-size: 13px;
	padding: 2px 0;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

#container,#container1{
    width:80%;
    margin:2em auto;
    padding:10;
  }
  #container h2{
     text-align: center;
  }
 
  .arrow{
    /* margin: 30px; */
    height: 30px;
    width: 50px;
  }
  #writereview
  {
      margin: auto;
  }