<div class="containerbody">
	<nav class="navbar navbar-expand-lg fixed-top">
		<img src="../../assets/img/logo6.png">
		<div class="dropdown">
			<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span> <i class='fas fa-user-circle'></i></span> My Account <strong class="caret"></strong>
			</a>
			<ul id="drop" class="dropdown-menu">
				<li><button class="dropdown-item" (click)="update()"><span><i class="fa fa-refresh"></i></span> Update
						profile</button></li>
				<li><button class="dropdown-item" (click)="lpage()"><span><i class="fa fa-power-off"></i></span> Log
						out</button></li>
			</ul>
		</div>
	</nav>
</div>
<!-- jumbotron start -->
<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
		<h1 id="jumbotronheading">India's Largest Review Platform</h1>
		<form>
			<div class="form-group">
				<input type="text" placeholder="search here to write a review" name="search" class="form-control"
					id="jumbotroninput"><br>
				<button class="btn btn-info" (click)="search()">search</button>
			</div>
		</form>
	</div>
</div>

<!-- end jumbotron -->


<!-- carousel for recommended products -->
<div id="container">
	<h2>Recommended Products</h2>
	<div ng2-carouselamos class="slides-wrapper" [items]="products" [width]="900" [$prev]="prev" [$next]="next"
		[$item]="product">
	</div>

	<ng-template #prev>
		<img src="../../assets/img/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
	</ng-template>

	<ng-template #next>
		<img src="../../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
	</ng-template>

	<ng-template #product let-product let-i="index">
		<div class="products">
			<div class="thumb-wrapper">
				<div class="img-box">
					<img src="{{product.image}}" class="img-responsive img-fluid" alt="Image not available">
				</div>
				<div class="thumb-content">
					<h4>{{product.productName}}</h4>
					<div class="star-rating">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
						</ul>
					</div>
					<p class="item-price"><b>{{product.price}}</b></p>
					<h6>2 reviews</h6>
				</div>
			</div>
		</div>&nbsp;
	</ng-template>
</div>
<!-- end carousel for recommended products-->


<!-- footer -->
<footer class="page-footer font-small blue pt-4">
	<div class="container">
	  <div class="row">
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			  <li>
				  <h5><strong>About us</strong></h5>
			  </li>
			  <li>
				  <a href="#"><strong> Vision & Goals </strong></a>
				</li>
				<li>
				  <a href="#"><strong> Company </strong></a>
				</li>
				<li>
				  <a href="#"><strong> Blog </strong></a>
				</li>
				<li>
				  <a href="#"><strong> Careers </strong></a>
				</li>
		  </ul>
  
		</div>
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			  <li>
				  <h5><strong>Contact us</strong></h5>
			  </li>
				<li>
				  <a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
				</li>
				<li>
				  <a href="#"><i class="fa fa-phone"></i>&nbsp;<Strong>9874563129</Strong></a>
				</li>
				<li> 
				  <a href="#"> <i class="fa fa-envelope"></i>&nbsp;<Strong>niitstkrt@gmail.com</Strong></a>
				</li> 
		  </ul>
		</div>
		
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			  <li>
				  <h5><strong>Insights</strong></h5>
			  </li>
			  <li>
				  <a href="#"><Strong>Privacy policy</Strong></a>
				</li>
				<li>
				  <a href="#"><Strong>Terms & Conditions </Strong></a>
				</li>
				<li>
				  <a href="#"><Strong>FAQs</Strong></a>
				</li>
				<li>
				  <a href="#"><Strong>Support</Strong></a>
				</li>
		  </ul>
		</div>
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			<li>
			  <h5><strong>Keep connected with</strong></h5>
			</li>
			<li>
				<a href="#"><i class="fa fa-twitter-square"></i>&nbsp;<Strong>twitter</Strong></a>
			  </li>
				<li>
				  <a href="#"><i class="fa fa-facebook-square"></i>&nbsp;<Strong>facebook</Strong></a>
				</li>
				<li> 
				<a href="#"><i class="fa fa-linkedin"></i>&nbsp;<Strong>linkedin</Strong></a>
			  </li>
		  </ul>
		</div>
	  </div>
	</div>
  </footer>
  <!-- end footer -->