<div class="containerbody">
	<nav class="navbar navbar-expand-lg fixed-top">
		<img src="../../assets/img/logo6.png">
		<div class="dropdown">
			<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span> <i class='fas fa-user-circle'></i></span> My Account <strong class="caret"></strong>
			</a>
			<ul id="drop" class="dropdown-menu">
				<li><button class="dropdown-item" (click)="update()"><span><i class="fa fa-refresh"></i></span> Update
						profile</button></li>
			    <li><button class="dropdown-item" (click)="lpage()"><span><i class="fa fa-power-off"></i></span> Log
						out</button></li>
			</ul>
		</div>
	</nav>
</div>
<!-- jumbotron start -->
<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
		<h1 id="jumbotronheading">India's Largest Review Platform</h1>
		<form>
			<div class="form-group">
					<div class="active-cyan-3 active-cyan-4 mb-4">
				<input type="text" #searchproduct placeholder="search here to write a review" name="search" class="form-control col-md-3"
					id="jumbotroninput"> <br>


				<!-- <button class="btn btn-info" (click)="searches();search(searchproduct.value)" >search</button> -->

				<button class="btn btn-outline-light" (click)="searches();search(searchproduct.value)" >search</button>

				<!-- <button class="btn btn-info" (click)="search(searchproduct.value)" >search</button> -->
			</div>
			</div>
		</form>
	</div>
</div>
<router-outlet></router-outlet>

<!-- end jumbotron -->


<!-- carousel for recommended product by family -->
<div id="container">
	<h2>Recommended Products</h2>
	<div ng2-carouselamos class="slides-wrapper" [items]="productDetails" [width]="900" [$prev]="prev" [$next]="next"
		[$item]="product">
	</div>

	<ng-template #prev>
		<img src="../../assets/img/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
	</ng-template>

	<ng-template #next>
		<img src="../../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
	</ng-template>

	<ng-template #product let-product let-i="index">
		<div class="productDetails">
			<!-- <div class="thumb-wrapper"> -->
				<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<div class="card">

				<div class="img-box">
					<img src="./assets/img/{{product.image}}"  class="img-responsive img-fluid" alt="Image not available" routerLink="/rsearch">
				</div>
				<!-- <div class="thumb-content"> -->

					<div class="card-block">
					<h4>{{product.productName}}</h4>
					<div class="star-rating">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
						</ul>
					</div>
					<p class="item-price"><b>{{product.price}}</b></p>
				</div>
				<!-- </div> -->
				</div>
				</div>
			<!-- </div> -->
		</div>&nbsp;
		<!-- </div> -->
	</ng-template>
</div>
<!-- end carousel for recommended product by family-->

<!-- carousel for recommended product by subCategory -->
<div id="container">
	<h2>Recommended Products</h2>
	<div ng2-carouselamos class="slides-wrapper" [items]="productDetails1" [width]="900" [$prev]="prev" [$next]="next"
		[$item]="product">
	</div>

	<ng-template #prev>
		<img src="../../assets/img/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
	</ng-template>

	<ng-template #next>
		<img src="../../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
	</ng-template>

	<ng-template #product let-product let-i="index">
		<div class="productDetails1">
			<!-- <div class="thumb-wrapper"> -->
					<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
							<div class="card">
				<div class="img-box">
					<img src="./assets/img/{{product.image}}" class="img-responsive img-fluid" alt="Image not available" routerLink="/rsearch">
				</div>
				<!-- <div class="thumb-content"> -->
						<div class="card-block">
					<h4>{{product.productName}}</h4>
					<div class="star-rating">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
						</ul>
					</div>
					<p class="item-price"><b>{{product.price}}</b></p>
					
				</div>
				</div>
				</div>
			<!-- </div> -->
		</div>&nbsp;
	</ng-template>
</div>
<!-- end carousel for recommended product by subCategory-->

<!-- footer -->
<!-- <footer class="page-footer font-small blue pt-4">
	<div class="container">
	  <div class="row">
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			  <li>
				  <h5><strong>About us</strong></h5>
			  </li>
			  <li>
				  <a href="#"><strong> Vision & Goals </strong></a>
				</li>
				<li>
				  <a href="#"><strong> Company </strong></a>
				</li>
				<li>
				  <a href="#"><strong> Blog </strong></a>
				</li>
				<li>
				  <a href="#"><strong> Careers </strong></a>
				</li>
		  </ul>
  
		</div>
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			  <li>
				  <h5><strong>Contact us</strong></h5>
			  </li>
				<li>
				  <a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
				</li>
				<li>
				  <a href="#"><i class="fa fa-phone"></i>&nbsp;<Strong>9874563129</Strong></a>
				</li>
				<li> 
				  <a href="#"> <i class="fa fa-envelope"></i>&nbsp;<Strong>niitstkrt@gmail.com</Strong></a>
				</li> 
		  </ul>
		</div>
		
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			  <li>
				  <h5><strong>Insights</strong></h5>
			  </li>            <button type="submit" class="btn btn-outline-light" id="searchbutton" (click)="searchproduct(inputsearch.value)"><a href="#"><i class="fa fa-search"></i></a></button>
			  <li>
				  <a href="#"><Strong>Privacy policy</Strong></a>
				</li>
				<li>
				  <a href="#"><Strong>Terms & Conditions </Strong></a>
				</li>
				<li>
				  <a href="#"><Strong>FAQs</Strong></a>
				</li>
				<li>
				  <a href="#"><Strong>Support</Strong></a>
				</li>
		  </ul>
		</div>
		<div class="col-sm-3">
		  <ul class="list-unstyled lead">
			<li>
			  <h5><strong>Keep connected with</strong></h5>
			</li>
			<li>
				<a href="#"><i class="fa fa-twitter-square"></i>&nbsp;<Strong>twitter</Strong></a>
			  </li>
				<li>
				  <a href="#"><i class="fa fa-facebook-square"></i>&nbsp;<Strong>facebook</Strong></a>
				</li>
				<li> 
				<a href="#"><i class="fa fa-linkedin"></i>&nbsp;<Strong>linkedin</Strong></a>
			  </li>
		  </ul>
		</div>
	  </div>
	</div>
  </footer> -->

  <footer class="page-footer font-small mdb-color pt-4 bg-dark footer-dark">

	<!-- Footer Links -->
	<div class="container text-center text-md-left">
  
	  <!-- Footer links -->
	  <div class="row text-center text-md-left mt-3 pb-3">
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
		  <!-- <img style="margin-top: 20px; height:100px;width: 50px;" class="card-img-top" src="assets/img/logo5.png" alt="image"> -->
		<h2 style="color: white"><strong>CenseoSphere</strong></h2>
		<a href="#" style='font-size:24px'><i class='fas fa-home'></i></a>
		</div>
		<!-- Grid column -->
  
		<hr class="w-100 clearfix d-md-none">
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-3 mx-auto mt-3">
		  <ul class="list-unstyled lead">
			<li>
				<h5><strong>About us</strong></h5>
			</li>
			<li>
				<a href="#"><strong> Vision & Goals </strong></a>
			  </li>
			  <li>
				<a href="#"><strong> Company </strong></a>
			  </li>
			  <li>
				<a href="#"><strong> Blog </strong></a>
			  </li>
			  <li>
				<a href="#"><strong> Careers </strong></a>
			  </li>
		</ul>
  
		</div>
		<!-- Grid column -->
  
		<hr class="w-100 clearfix d-md-none">
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-3  mx-auto mt-3">
		  <ul class="list-unstyled lead">
			<li>
				<h5><strong>Contact us</strong></h5>
			</li>
			  <li>
				<a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
			  </li>
			  <li>
				<a href="#"><i class="fa fa-phone"></i>&nbsp;<Strong>9874563129</Strong></a>
			  </li>
			  <li> 
				<a href="#"> <i class="fa fa-envelope"></i>&nbsp;<Strong>niitstkrt@gmail.com</Strong></a>
			  </li> 
		</ul>
  
		</div>
  
		<!-- Grid column -->
		<hr class="w-100 clearfix d-md-none">
  
		<!-- Grid column -->
		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
		  <ul class="list-unstyled lead">
			<li>
				<h5><strong>Insights</strong></h5>
			</li>
			<li>
				<a href="#"><Strong>Privacy policy</Strong></a>
			  </li>
			  <li>
				<a href="#"><Strong>Terms & Conditions </Strong></a>
			  </li>
			  <li>
				<a href="#"><Strong>FAQs</Strong></a>
			  </li>
			  <li>
				<a href="#"><Strong>Support</Strong></a>
			  </li>
		</ul>
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Footer links -->
	
	  <hr>
  
	  <!-- Grid row -->
	  <div class="row d-flex align-items-center">
  
  
		<!-- Grid column -->
		<div class="col-md-7 col-lg-8">
  
  
		  <div class="col-md-12">
			<ul class="social-network social-circle">
			  <li><a href="#"><i class="fab fa-facebook" id="facebook"></i></a></li>
			  <li></li>
			  <li><a href="#"><i class="fab fa-twitter" id="twitter"></i></a></li>
			  <li></li>
			  <li><a href="#"><i class="fab fa-instagram" id="instagram"></i></a></li>
			  <li></li>
			  <li><a href="#"><i class="fab fa-linkedin-in" id="linkedin"></i></a></li>
  
			</ul>
		  </div>
  
  
		  <!--Copyright-->
  
		  <p class="text-center text-md-right">Copyright © All Rights Reserved by
			<strong>CenseoSphere</strong>
		  </p>
  
		 </div>
		</div>
		<!-- Grid column -->
	  </div>
	</footer>



  <!-- end footer -->
