
a{
    text-decoration: none;
}
.navbar{
    background-color:#fdffff;
    position: relative;
    height: 80px;
    position: fixed;
}
nav img{
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 70px;
}
h2{
    margin-left: 580px;
}

.containerbody{
    font-family: 'Work Sans', sans-serif;
}

#submitbutton{
margin: auto;
/* margin-left: 350px; */
}
form{
    margin-left: 150px;
    font-family: 'Work Sans', sans-serif;
    margin-top:100px;
    
}

footer
{
    margin-top: 80px;
    padding-top: 25px;
    background-color: #f2f2f2;
    font-size: 14px;
    height: 180px;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: #17a2b8;
    position: relative;
}
footer a:hover{
    color: midnightblue;
    font-size: 18px;
}
#newheading{
    margin: auto;
}
/* .bodyy{
    background: url('../../assets/img/newaccountback.jpg') center center no-repeat;
} */
.thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}