<!-- header -->
<div class="containerbody">
    <nav class="navbar navbar-expand-lg fixed-top">
     
      <img src="../../assets/img/logo6.png">
      <div class="addclass">
      <button type="submit" class="btn btn-info" id="addproduct" (click)="add()" >Add Product</button>
      </div>&nbsp;&nbsp;
      <div class="dropdown">
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span> <i class='fas fa-user-circle'></i></span> My Account <strong class="caret"></strong>
        </a>
        <ul id="drop" class="dropdown-menu">
         <li><button class="dropdown-item" (click)="update()" ><span><i class="fa fa-refresh"></i></span>  Update profile</button></li>
         <li><button class="dropdown-item" (click)="lpage()" ><span><i class="fa fa-power-off"></i></span> Log out</button></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header -->

  <!-- jumbotron start -->
  <div class="jumbotron jumbotron-fluid text-center">
      <div class="container" >
        <h1 id="jumbotronheading">India's Largest Review Platform</h1>
        <form>
          <div class="form-group">
            <input type="text" placeholder="search products" name="search" class="form-control col-md-3"
              id="jumbotroninput"> 
              <!-- <a href="#"><i class="fa fa-search"></i></a> <br> -->
          </div>
        </form>
      </div>
    </div>
    <!-- end jumbotron -->


<div class="container">
  <h3>My Products</h3>
  <hr>
  <div *ngFor="let product of products">
  <div class="row d-outline-block">
    <div class="col-sm-4">
        <div class="thumb-wrapper">
            <div class="img-box">
              <img src="{{product.image}}" class="img-responsive img-fluid" alt="">									
            </div>
            <div class="thumb-content">
              <h4>{{product.productName}}</h4>									
              <div class="star-rating">
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>						
          </div>
          <br>
    </div>
    <div class="col-sm-8"> 
      <h5><b>{{product.productName}}</b></h5>
      <!-- <h6>{{product.rating}}</h6> -->
      <p class="item-price"><b>{{product.price}}</b></p>
      <p class="specification">{{product.specification}}</p>
      <p>{{product.description}}</p>
      <p class="timestamp">{{product.uploaded_on}}</p>
      <br>
      <button type="submit" class="btn btn-info" id="editproduct" data-target="#edit">Edit</button>
      <button type="submit" class="btn btn-info" id="deleteproduct" data-target="#delete">Delete</button>
   </div>
  </div>
  </div>
  <div class="row-footer"><a href="productownerdashboard">View All</a></div>
</div>

<!-- <div class="container">
    <div class="row d-outline-block bg-light">
      <div class="col-sm-4">
        
          <div class="thumb-wrapper">
    
              <div class="img-box">
                <img src="/assets/img/nikon.jpg" class="img-responsive img-fluid" alt="">									
              </div>
              <div class="thumb-content">
                <h4>Redmi Note6</h4>									
                <div class="star-rating">
                  <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  </ul>
                </div>
                <p class="item-price"><b>$369.00</b></p>
                <h6>2 reviews</h6>
              </div>						
            </div>
        
      </div>
      <div class="col-sm-8">
        
          <h5>Redmi Note6</h5>
          <p class="item-price"><b>$250.00</b></p>
          <p class="specification">15MP back and 8MP front,6GB RAM and 64GB ROM</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <p class="timestamp">Uploaded on 2017-12-25 20:15:56</p>
        <br>
        <br>
        <button type="submit" class="btn btn-info" id="editproduct" data-target="#edit">Edit</button>
        <button type="submit" class="btn btn-info" id="deleteproduct" data-target="#delete">Delete</button>
     </div>
    </div>
    <div class="row-footer"><a href="#">View All</a></div>
</div> -->


<!-- footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
            <li>
                <h5><strong>About us</strong></h5>
            </li>
            <li>
                <a href="#"><strong> Vision & Goals </strong></a>
              </li>
              <li>
                <a href="#"><strong> Company </strong></a>
              </li>
              <li>
                <a href="#"><strong> Blog </strong></a>
              </li>
              <li>
                <a href="#"><strong> Careers </strong></a>
              </li>
        </ul>

      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
            <li>
                <h5><strong>Contact us</strong></h5>
            </li>
              <li>
                <a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>&nbsp;<Strong>9874563129</Strong></a>
              </li>
              <li> 
                <a href="#"> <i class="fa fa-envelope"></i>&nbsp;<Strong>niitstkrt@gmail.com</Strong></a>
              </li> 
        </ul>
      </div>
      
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
            <li>
                <h5><strong>Insights</strong></h5>
            </li>
            <li>
                <a href="#"><Strong>Privacy policy</Strong></a>
              </li>
              <li>
                <a href="#"><Strong>Terms & Conditions </Strong></a>
              </li>
              <li>
                <a href="#"><Strong>FAQs</Strong></a>
              </li>
              <li>
                <a href="#"><Strong>Support</Strong></a>
              </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li>
            <h5><strong>Keep connected with</strong></h5>
          </li>
          <li>
              <a href="#"><i class="fa fa-twitter-square"></i>&nbsp;<Strong>twitter</Strong></a>
            </li>
              <li>
                <a href="#"><i class="fa fa-facebook-square"></i>&nbsp;<Strong>facebook</Strong></a>
              </li>
              <li> 
              <a href="#"><i class="fa fa-linkedin"></i>&nbsp;<Strong>linkedin</Strong></a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->