<!-- header -->
<div class="containerbody">
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="example-sidenav-content">
        <button id="sidebar" class="hamburger mat-button" mat-button (click)="snav.toggle()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <img src="assets/img/CenseoSphere_logo.png">
      <div class="addclass">
      <button type="submit" class="btn btn-info" id="addproduct" (click)="add()" >Add Product</button>
      </div>
      <div class="dropdown">
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span> <i class='fas fa-user-circle'></i></span> My Account <strong class="caret"></strong>
        </a>
        <ul id="drop" class="dropdown-menu">
         <li><button class="dropdown-item" (click)="update()" ><span><i class="fa fa-refresh"></i></span>  Update profile</button></li>
         <li><button class="dropdown-item" (click)="lpage()" ><span><i class="fa fa-power-off"></i></span> Log out</button></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header -->

  <!-- jumbotron start -->
  <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 id="jumbotronheading">India's Largest Review Platform</h1>
        <form>
          <div class="form-group">
            <input type="text" placeholder="search products" name="search" class="form-control"
              id="jumbotroninput"><br>
          </div>
        </form>
      </div>
    </div>
    <!-- end jumbotron -->

<hr>

<div class="container">
  <h3>My Products</h3>
  <hr>
  <div class="row d-outline-block bg-light">
    <div class="col-sm-4">
        <div class="thumb-wrapper">
            <div class="img-box">
              <img src="/assets/img/ipad.jpg" class="img-responsive img-fluid" alt="">									
            </div>
            <div class="thumb-content">
              <h4>Apple iPad</h4>									
              <div class="star-rating">
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                </ul>
              </div>
              
              <h6>2 reviews</h6>
            </div>						
          </div>
    </div>
    <div class="col-sm-8">
      
      <h5>Apple iPad</h5>
      <p class="item-price"><b>$369.00</b></p>
      <p class="specification">30MP back and 20MP front,6GB RAM and 64GB ROM</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <p class="timestamp">Uploaded on 2018-12-15 20:15:56</p>
      <br>
      <button type="submit" class="btn btn-info" id="editproduct" data-target="#edit">Edit</button>
        <button type="submit" class="btn btn-info" id="deleteproduct" data-target="#delete">Delete</button>
   </div>
  </div>
</div>

<br>
<br>
<div class="container">
    <div class="row d-outline-block bg-light">
      <div class="col-sm-4">
        
          <div class="thumb-wrapper">
    
              <div class="img-box">
                <img src="/assets/img/nikon.jpg" class="img-responsive img-fluid" alt="">									
              </div>
              <div class="thumb-content">
                <h4>Redmi Note6</h4>									
                <div class="star-rating">
                  <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  </ul>
                </div>
                <p class="item-price"><b>$369.00</b></p>
                <h6>2 reviews</h6>
              </div>						
            </div>
        
      </div>
      <div class="col-sm-8">
        
          <h5>Redmi Note6</h5>
          <p class="item-price"><b>$250.00</b></p>
          <p class="specification">15MP back and 8MP front,6GB RAM and 64GB ROM</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <p class="timestamp">Uploaded on 2017-12-25 20:15:56</p>
        <br>
        <br>
        <button type="submit" class="btn btn-info" id="editproduct" data-target="#edit">Edit</button>
        <button type="submit" class="btn btn-info" id="deleteproduct" data-target="#delete">Delete</button>
     </div>
    </div>
    <div class="row-footer"><a href="#">View All</a></div>
</div>

<!-- footer -->
<footer class="page-footer font-small blue pt-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <ul class="list-unstyled lead">
            <li>
              <a href="#"><strong> About Us</strong></a>
            </li>
          </ul>
  
        </div>
        <div class="col-sm-2">
          <ul class="list-unstyled lead">
            <li>
              <a href="#"><Strong>Contact Us</Strong></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <ul class="list-unstyled lead">
            <li>
              <a href="#"><Strong>Feedback <i class="fa fa-comments"></i></Strong></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled lead">
            <li>
              <a href="#"><Strong>Terms & Condition</Strong></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled lead">
            <li id="socialsite">
              <a href="#"><i class="fa fa-twitter-square"></i> </a>&nbsp;
              <a href="#"><i class="fa fa-facebook-square"></i> </a>&nbsp;
              <a href="#" id="envelope"><i class="fa fa-envelope"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->

