.containerbody{
    margin: 0;
    padding: 0;
  }
.navbar{
    background-color:#222930;
    position: relative;
    height: 80px;
    position: fixed;
 }

 /* h5{
  color:white;
} */
 /* .thumb-wrapper {
  margin-left: 200px;
  margin-top: 30px;
 padding: 25px 15px;
 background: url('../../assets/img/header.png');
 border-radius: 6px;
 text-align: center;
 position: relative;
   box-shadow: 0 2px 3px rgba(0,0,0,0.2);
   width: 700px;
}  */
.thumb-wrapper a:hover{
  color:rgb(38, 4, 161);
}
 nav img{
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 70px;
 }
  nav .dropdown{
   
    color: white;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top:20px;
    margin-right:100px;
    
  }

  footer
{   margin-top: 80px;
    padding-top: 25px;
    background-color: #222930;
    font-size: 18px;
    height: 100%;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: white;
    position: relative;
}
footer a:hover{
    color: darkgoldenrod;
    font-size: 18px;
    text-decoration: none;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
 }
 
 ul.social-network li {
    display: inline;
    margin: 0 5px;
 } 
 #facebook:hover{
   color: #3b5998;
 }
 #twitter:hover{
     color:#33b5e5;
 }
 #instagram:hover{
     color:palevioletred;
 }
 #linkedin:hover{
     color:#0077B5;
 }
 .social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
     font-size:20px;
     margin-right: 30px;
     /* background-color: #D3D3D3; */
 }
 .social-circle li i {
    margin:0;
    line-height:50px;
     text-align: center;
     
 }
 
 .social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
 }
 .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
     transition: all 0.8s;
     font-size: 30px;
 }
 .col-md-12 ul{
    float: right;
 } 
 
 .col-md-3 h2{
     padding-top: 40px;
 }
 .col-md-3 .fas{
     margin-left: 90px;
 }
 .text-md-right{
     color: white;
     padding-top: 66px;
     font-size:15px;
 }
#searchheading{
  text-align: center;
  margin-top: 100px;
}
#mainbtn{
  margin-left:500px;
}


 .image{
    background:url('../../assets/img/addprod2.jpeg') center center no-repeat;
    background-size: cover;
 }
 .container{
     padding-top: 20px;
 }

 .flex-container{
    width: 950px;
    border-radius: 8px;
    min-height: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
    background-color: rgba(255, 255, 255, 0.8)
}

.flex-container .left{
    padding: 10px;
    /* background: #dbdfe5; */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}
.flex-container .right{
    /* background: #dbdfe5; */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
    padding: 10px;
}

.thumb-content{
    padding-top: 30px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
} 
#facebook:hover{
  color: #3b5998;
}
#twitter:hover{
    color:#33b5e5;
}
#instagram:hover{
    color:palevioletred;
}
#linkedin:hover{
    color:#0077B5;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
    font-size:20px;
    margin-right: 30px;
    /*  background-color: #D3D3D3;  */
} 
.social-circle li i {
	margin:0;
	line-height:50px;
    text-align: center;
    
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
    transition: all 0.8s;
    font-size: 30px;
}

.col-md-12 ul{
   float: right;
} 

.col-md-3 h2{
    padding-top: 40px;
}
.col-md-3 .fas{
    margin-left: 90px;
}
.text-md-right{
    color: white;
    padding-top: 66px;
    font-size:15px;
} 

  .thumb-wrapper a:hover{
    color:rgb(38, 4, 161);
 }

 #mainbtn{
    margin-left:480px;
  }
  #searchheading{
    text-align: center;
    margin-top: 100px;

  }
  #reviewimg{
      height: 150px;
      width: 250px;
  }
  #productimage{
    height: 300px;
    width: 450px;
    padding-left: 0px;
    padding-top: 0px;
}
h5{

    color: white;
}  
.info,.item-price{
    color: black;
}
#up:hover{
color: green;
} 
#down:hover{
    color: red;

}  
hr.side {
     border:solid;
     border-width: 1px;

}
.star 
{
      position: relative;
      display: inline-block;
      font-size: 2rem;
      color: #d3d3d3;
    
    }
    .full 
    {
      color:navy;
    }
    .half 
    {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color:navy;
    }
    .rate
    {
        background-color:rgba(0, 128, 0, 0.5);
        width: fit-content;
        margin: 0 auto;
    }
  
