.containerbody{
    margin: 0;
    padding: 0;
    
  }
  a{
    text-decoration: none;
}
.navbar{
    background-color:#222930;
    position: relative;
    height: 80px;
    position: fixed;
}
nav img{
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 70px;
}
 nav .dropdown{
  
   color: white;
   font-size: 20px;
   position: absolute;
   right: 0;
   top: 0;
   margin-top:20px;
   margin-right:100px;
   
 }
.mat-tab-group
{

  margin-top: 100px;
}
.mat-tab label{
  font-size:18px ;

}
 .container
{
  margin-top: 25px;
}
#btn1{
  background-color: #17a2b8;
  color: white;
}
#btn2{
  background-color: #17a2b8;
  color: white;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}
 .thumb-wrapper {
	padding: 25px 15px;
  /* background: #fff; */
  background: #def2f1;
	border-radius: 6px;
	text-align: center;
	position: relative;
  /* box-shadow: 0 2px 3px rgba(0,0,0,0.2); */
  box-shadow: 1.5px 1.5px 3px rgba(0,0,0,2.5);
  width: 300px;
  color: midnightblue;
  background-image: url(../../assets/img/cardbg.jpeg);
}
.img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
 .img-box img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
h4 {
	font-size: 18px;
}
 h4,   p,  ul {
	margin-bottom: 5px;
}

.item-price {
	font-size: 13px;
	padding: 2px 0;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
h5{
  color:white;
}

#heading
{
  /* margin-top: 120px; */
  text-align: center;

}
.center_div
{
  margin: 0 auto;
  position: relative;
}
#editform{
  
  margin: 0 auto;
  
}

footer
{
    margin-top: 80px;
    padding-top: 25px;
    background-color: #222930;
    font-size: 14px;
    height: 100%;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: white;
    position: relative;
}
footer a:hover{
    color: darkgoldenrod;
    font-size: 18px;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
} 
#facebook:hover{
  color: #3b5998;
}
#twitter:hover{
    color:#33b5e5;
}
#instagram:hover{
    color:palevioletred;
}
#linkedin:hover{
    color:#0077B5;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
    font-size:20px;
    margin-right: 30px;
    /* background-color: #D3D3D3; */
}
.social-circle li i {
	margin:0;
	line-height:50px;
    text-align: center;
    
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
    transition: all 0.8s;
    font-size: 30px;
}

.col-md-12 ul{
   float: right;
} 

.col-md-3 h2{
    padding-top: 40px;
}
.col-md-3 .fas{
    margin-left: 90px;
}
.text-md-right{
    color: white;
    padding-top: 66px;
    font-size:15px;
}
.avatar{
  height: 150px;
  width: 150px;
}
.aligns{
  display: inline;
}
#uploadbutton{
  margin-top: 20px;
}
.col-sm-8{
  padding-left: 200px;
}