<div class="containerbody">
        <nav class="navbar navbar-expand-lg fixed-top">
         <img src="assets/img/CenseoSphere_logo.png">
          <div class="dropdown">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span> <i class='fas fa-user-circle'></i></span> My Account <strong class="caret"></strong>
            </a>
            <ul id="drop" class="dropdown-menu">
             <li><button class="dropdown-item" (click)="update()" ><span><i class="fa fa-refresh"></i></span>  Update profile</button></li>
             <li><button class="dropdown-item"  (click)="lpage()"><span><i class="fa fa-power-off"></i></span> Log out</button></li>
            </ul>
          </div>
     </nav>
    </div>

     <mat-tab-group animationDuration="0ms">
            <mat-tab label="Edit Profile">
                <div class="container">
                    <h3>Edit Profile</h3>
                      <hr>
                    <div class="row">
                      <!-- left column -->
                      <div class="col-md-3">
                        <div class="text-center">
                          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                          <h6>Upload a different photo...</h6>
                          <input type="file" class="form-control">
                        </div>
                      </div>
                     <!-- edit form column -->
                      <div class="col-md-9 personal-info">
                        <h3>Personal info</h3>
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>
                            <div class="col-lg-8">
                              <input class="form-control" type="text" value="Jane">
                            </div>
                          </div>
                         <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                              <input class="form-control" type="text" value="janesemail@gmail.com">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">Password:</label>
                            <div class="col-md-8">
                              <input class="form-control" type="password" value="11111122333">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">Confirm password:</label>
                            <div class="col-md-8">
                              <input class="form-control" type="password" value="11111122333">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                              <input type="button" class="btn btn-primary" value="Save Changes">&nbsp;
                              <span></span>
                              <input type="reset" class="btn btn-primary" value="Cancel">
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
             </mat-tab>
            <mat-tab label="My reviews">
              <div class="container">
                  <h3>Your reviews</h3>
                  <hr>
                  <br>
                <div class="row">
                  
                  <div class="col-sm-4">
                    
                      <div class="thumb-wrapper">
								
                          <div class="img-box">
                            <img src="/assets/img/ipad.jpg" class="img-responsive img-fluid" alt="">									
                          </div>
                          <div class="thumb-content">
                            <h4>Apple iPad</h4>									
                            <div class="star-rating">
                              <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                            <p class="item-price"><b>$369.00</b></p>
                            <h6>2 reviews</h6>
                          </div>						
                        </div>
                    
                  </div>
                  <div class="col-sm-8">
                    
                    <h5>Nice Product</h5>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <br>
                 </div>
                </div>
              </div>
<hr>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        
          <div class="thumb-wrapper">
    
              <div class="img-box">
                <img src="/assets/img/nikon.jpg" class="img-responsive img-fluid" alt="">									
              </div>
              <div class="thumb-content">
                <h4>Apple iPad</h4>									
                <div class="star-rating">
                  <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                  </ul>
                </div>
                <p class="item-price"><b>$369.00</b></p>
                <h6>2 reviews</h6>
              </div>						
            </div>
        
      </div>
      <div class="col-sm-8">
        
        <h5>Nice Product</h5>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>
     </div>
    </div>
  </div>
            </mat-tab>
           </mat-tab-group>