h2{
    text-align: center;
}

.navbar{
    background-color:#222930;
    position: relative;
    height: 80px;
    position: fixed;
}
nav img{
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 70px;
}
 nav .dropdown{
  
   color: white;
   font-size: 20px;
   position: absolute;
   right: 0;
   top: 0;
   margin-top:20px;
   margin-right:100px;
   
 }
 #main{
     margin-top: 80px;
 }


.jumbotron{
    height: 400px;
    background: url('../../assets/img/appliances-home.png') center center no-repeat;
}
#jumbotroninput{
    width: 600px;
    margin-left: 250px;
    
}
#jumbotronheading{
    background: rgba(0,0,0,0.4);
    color:white;
    margin-top: 80px;
} */

#main{
    margin-top:90px;
}


/* .container{
    margin-top: 90px;
} */
h5{
    color:white;
  }

footer
{
    margin-top: 80px;
    padding-top: 25px;
    background-color: #222930;
    font-size: 14px;
    height: 100%;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: white;
    position: relative;
}
footer a:hover{
    color: darkgoldenrod;
    font-size: 18px;

}
/* .container{
    margin-top: 90px;
} */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
} 
#facebook:hover{
  color: #3b5998;
}
#twitter:hover{
    color:#33b5e5;
}
#instagram:hover{
    color:palevioletred;
}
#linkedin:hover{
    color:#0077B5;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
    font-size:20px;
    margin-right: 30px;
    /* background-color: #D3D3D3; */
}
.social-circle li i {
	margin:0;
	line-height:50px;
    text-align: center;
    
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
    transition: all 0.8s;
    font-size: 30px;
}
.col-md-12 ul{
   float: right;
} 

.col-md-3 h2{
    padding-top: 40px;
}
.col-md-3 .fas{
    margin-left: 90px;
}
.text-md-right{
    color: white;
    padding-top: 66px;
    font-size:15px;
}
.image{
    background:url('../../assets/img/addprod2.jpg') center center no-repeat;
    background-size: cover;
 }
 hr.side {
    border:solid;
    border-width: 1px;
}