<div class="bodyy">

    <!-- header -->
    <div class="containerbody">
        <nav class="navbar navbar-expand-lg fixed-top">

            <img src="../../assets/img/logo14.png" (click)="logoclick()">
        </nav>
    </div>

    <!-- end header -->

    <!-- <form class="form-horizontal" #myForm="ngForm" (ngSubmit)="onClickS(name.value,emailId.value,rpassword.value)">
 
  <h2 id="newheading">Create New Account</h2>  
  <div class="form-group">

      <label for="Name" class="col-md-3">Name</label>

      <div class="col-md-9">
        <input type="text" id="Name" class="form-control" #name>
      </div>

    </div>
    <div class="form-group">
      <label for="newemailId" class="col-md-3">Email-Id</label>
      <div class="col-md-9">
        <input type="text" id="newemailId" class="form-control" #emailId>
      </div>
    </div>
    <div class="form-group">
      <label for="newaccountpassword" class="col-md-3">Password</label>
      <div class="col-md-9">
        <input type="password" name="newaccountpassword" id="newaccountpassword" class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label for="newaccountrpassword" class="col-md-3"> Reconfirm Password</label>
      <div class="col-md-9">
        <input type="password" name="newaccountreconfirmpassword" id="newaccountrpassword" class="form-control" #rpassword>
      </div>
    </div>
  
    <button class="btn btn-success" type="submit" id="submitbutton" >Submit</button>&nbsp;
    <button class="btn btn-danger" type="submit" id="cancelbutton" (click)="onClickC()">cancel</button>

  </form>  -->
    <!-- header -->


    <div class="container">
        <h2 id="newheading">Create New Account</h2>
        <br/>
        <br/>

        <mat-horizontal-stepper linear>
            <!-- 1st Form-->
            <mat-step [stepControl]="profileFormGroup">
                <ng-template matStepLabel>
                    <mat-icon aria-hidden="false" aria-label="Example account_box icon">person_pin</mat-icon>
                    <b>Fill your details </b>
                </ng-template>
                <div class="thumb-wrapper">
                    <form [formGroup]="profileFormGroup">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Name:" formControlName="name" [(ngModel)]="name" required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-error *ngFor="let validation of validation_messages.name">
                                <mat-error class="error-message" *ngIf="profileFormGroup.get('name').hasError(validation.type) && (profileFormGroup.get('name').dirty || profileFormGroup.get('name').touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field> <br/>
                        <br>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email-Id:" formControlName="emailId" [(ngModel)]="emailId" required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-error *ngFor="let validation of validation_messages.emailId">
                                <mat-error class="error-message" *ngIf="profileFormGroup.get('emailId').hasError(validation.type) && (profileFormGroup.get('emailId').dirty || profileFormGroup.get('emailId').touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-button class="w3-btn w3-round-xxlarge" matStepperNext (click)="saveReviewer()"><b>Next</b></button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <!--1st Form ends-->

            <!--2nd form -->
            <mat-step [stepControl]="verifyFormGroup">
                <ng-template matStepLabel>
                    <mat-icon aria-hidden="false" aria-label="Example lock icon">lock</mat-icon>
                    <b>Give your password</b>
                </ng-template>
                <div class="thumb-wrapper">
                    <form [formGroup]="verifyFormGroup">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password:" formControlName="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <mat-error *ngFor="let validation of validation_messages.password">
                                <mat-error class="error-message" *ngIf="verifyFormGroup.get('password').hasError(validation.type) && (verifyFormGroup.get('password').dirty || verifyFormGroup.get('password').touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field> <br/>
                        <br>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Reconfirm Password:" formControlName="reconfirmPassword" [type]="hide ? 'password' : 'text'" [(ngModel)]="reconfirmPassword" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <mat-error *ngFor="let validation of validation_messages.password">
                                <mat-error class="error-message" *ngIf="verifyFormGroup.get('password').hasError(validation.type) && (verifyFormGroup.get('password').dirty || verifyFormGroup.get('password').touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <div>
                            <!-- <button mat-button matStepperPrevious (ngSubmit)="onClickS(profileFormGroup.value)">Previous</button> -->
                            <button mat-button class="w3-btn w3-round-xxlarge" matStepperPrevious><b>Previous</b></button>&nbsp;
                            <button mat-button class="w3-btn w3-round-xxlarge" matStepperNext (click)="saveReviewer1()"><b>Submit</b></button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <!-- 2nd form ends-->

            <!-- <mat-step label="Done">
        <div class="thumb-wrapper">
          <h3 style="text-align: center;margin-top:80px;">You are successfully Registered..!!</h3>
          <div>
              <button mat-button matStepperPrevious>Previous</button>
          </div>
        </div>
      </mat-step> -->

            <mat-step label="Done">
                <div class="thumb-wrapper">
                    <ng-template matStepLabel>
                        <mat-icon aria-hidden="false" aria-label="Example sentiment_very_satisfied icon">sentiment_very_satisfied</mat-icon>
                        <b>Done!</b>
                    </ng-template>
                    <img id="stepperimg" src="../../assets/img/winner.jpg">

                    <h1>
                        Thank you!!!
                    </h1>
                    <h3>You are successfully Registered!!!</h3>
                    <button mat-button class="w3-btn w3-round-xxlarge" type="submit" (click)="follow()"><b>Follow Me</b></button>
                    <br>
                    <br>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </div>
    <!-- footer -->
    <!-- <footer class="page-footer font-small blue pt-4">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <ul class="list-unstyled lead">
            <li>
                <h5><strong>About us</strong></h5>
            </li>
            <li>
                <a href="#"><strong> Vision & Goals </strong></a>
              </li>
              <li>
                <a href="#"><strong> Company </strong></a>
              </li>
              <li>
                <a href="#"><strong> Blog </strong></a>
              </li>
              <li>
                <a href="#"><strong> Careers </strong></a>
              </li>
        </ul>

      </div>

      <div class="col-sm-3">
        <ul class="list-unstyled lead">
            <li>
                <h5><strong>Contact us</strong></h5>
            </li>
              <li>
                <a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>&nbsp;<Strong>9874563129</Strong></a>
              </li>
              <li> 
                <a href="#"> <i class="fa fa-envelope"></i>&nbsp;<Strong>niitstkrt@gmail.com</Strong></a>
              </li> 
        </ul>
      </div>
      
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
            <li>
                <h5><strong>Insights</strong></h5>
            </li>
            <li>
                <a href="#"><Strong>Privacy policy</Strong></a>
              </li>
              <li>
                <a href="#"><Strong>Terms & Conditions </Strong></a>
              </li>
              <li>
                <a href="#"><Strong>FAQs</Strong></a>
              </li>
              <li>
                <a href="#"><Strong>Support</Strong></a>
              </li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li>
            <h5><strong>Keep connected with</strong></h5>
          </li>
          <li>
              <a href="#"><i class="fa fa-twitter-square"></i>&nbsp;<Strong>twitter</Strong></a>
            </li>
              <li>
                <a href="#"><i class="fa fa-facebook-square"></i>&nbsp;<Strong>facebook</Strong></a>
              </li>
              <li> 
              <a href="#"><i class="fa fa-linkedin"></i>&nbsp;<Strong>linkedin</Strong></a>
            </li>
        </ul>
      </div>

    </div>
  </div>

</footer> -->
    <!-- end footer -->


    <footer class="page-footer font-small mdb-color pt-4 bg-dark footer-dark">

        <!-- Footer Links -->
        <div class="container text-center text-md-left" id="footerone">

            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 mx-auto mt-3">
                    <ul class="list-unstyled lead">
                        <li>
                            <h5><strong>About us</strong></h5>
                        </li>
                        <li>
                            <a href="#"><strong> Vision & Goals </strong></a>
                        </li>
                        <li>
                            <a href="#"><strong> Company </strong></a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3  mx-auto mt-3">
                    <ul class="list-unstyled lead">
                        <li>
                            <h5><strong>Contact us</strong></h5>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
                        </li>

                        <li>
                            <a href="#"> <i class="fa fa-envelope"></i>&nbsp;
                                <Strong>niitstkrt@gmail.com</Strong>
                            </a>
                        </li>
                    </ul>

                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <ul class="list-unstyled lead">
                        <li>
                            <h5><strong>Insights</strong></h5>
                        </li>
                        <li>
                            <a href="#"><Strong>Privacy policy</Strong></a>
                        </li>

                        <li>
                            <a href="#"><Strong>Support</Strong></a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Footer links -->

            <hr class="side">

            <!-- Grid row -->
            <div class="row d-flex align-items-center">


                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">


                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#"><i class="fab fa-facebook" id="facebook"></i></a></li>
                            <li></li>
                            <li><a href="#"><i class="fab fa-twitter" id="twitter"></i></a></li>
                            <li></li>
                            <li><a href="#"><i class="fab fa-instagram" id="instagram"></i></a></li>
                            <li></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" id="linkedin"></i></a></li>

                        </ul>
                    </div>


                    <!--Copyright-->

                    <p class="text-center text-md-right">Copyright © All Rights Reserved by
                        <strong>Censeosphere</strong>
                    </p>


                </div>
                <!-- Grid column -->
            </div>


        </div>