#card {
    padding: 25px 15px;
    background: url('../../assets/img/i3.jpg') center center no-repeat;
    text-align: center;
    font-size: 12px;
    width: 250px;
    overflow: hidden;
    border: none;
    border-radius: 9px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 4.5);
    display: inline-block;
}

.modal-body {
    padding: 5px;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

#myModal {
    margin-top: 100px;
    -webkit-animation-name: scale-up-center;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: scale-up-center;
    animation-duration: 1s;
}