<!-- header -->
<div class="containerbody">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="example-sidenav-content">
            <button id="sidebar" class="hamburger mat-button" mat-button (click)="snav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
        </div>
        <img id="logo" src="../../assets/img/logo14.png" (click)="logoclick()">
        <button class="w3-btn w3-round-xxlarge" data-toggle="modal" href="#signup" id="login">Sign In</button>
    </nav>
</div>
<!-- end header -->
<!-- side bar container -->
<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode="side" class="example-sidenav">
        <br>
        <div class="matlist">
            <mat-nav-list>
                <div *ngFor="let x of array">
                    <h4 class="subcategory" (click)="onClickSubCategory(x.subCategory)"> <span id="icons"><i class={{x.icon}} ></i></span> {{x.subCategory}}</h4>
                </div>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <!-- jumbotron start -->
    <div class="jumbotron jumbotron-fluid text-center">

        <div class="container">

            <h1 id="jumbotronheading"><b>India's Largest Review Platform</b></h1>
            <form>
                <div class="input-group">
                    <input type="search" #inputsearch class="form-control col-md-6" placeholder="Search here" name="search" id="jumbotroninput">
                    <button class="btn btn-outline-light" type="submit" id="searchbutton" (click)="searchproductL(inputsearch.value)" data-toggle="modal" data-target="#myModal">
            <a href="#"><i class="fa fa-search"></i></a>
          </button><br>
                </div>
                <br>
                <button type="submit" class="w3-btn w3-round-xxlarge" id="reviewbutton" data-toggle="modal" #rrole value="reviewer" (click)="onclick(rrole.value)" data-target="#signup1"><b>Write a Review</b></button>&nbsp;
                <button type="submit" class="w3-btn w3-round-xxlarge" id="productbutton" data-toggle="modal" #prole value="product-owner" (click)="onclick1(prole.value)" data-target="#signup2"><b>Post a Product</b></button>
            </form>
        </div>
    </div>

    <app-modelwindow *ngIf="showComponent1"></app-modelwindow>
    <div class="onclick">
        <app-card *ngIf="showComponent"></app-card>
    </div>
    <br>
    <!--  start carousel for recent productDetails -->
    <div id="container">
        <h2 id="Recent_Products">Recent Products</h2>
        <div class="shine"></div>
        <br>
        <div ng2-carouselamos class="slides-wrapper" [items]="productDetails" [width]="1150" [$prev]="prev" [$next]="next" [$item]="product">
        </div>
        <ng-template #prev>
            <img src="../../assets/img/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
        </ng-template>
        <ng-template #next>
            <img src="../../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
        </ng-template>
        <ng-template #product let-product let-i="index">
            <div class="productDetails">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card" id="card1">
                        <div class="img-box">
                            <img id="carimg" src="./assets/img/{{product.image}}" class="img-responsive img-fluid" alt="Image not available" (click)="imageclick(product)">
                        </div>
                        <div class="card-block">
                            <h4><b>{{product.productName}}</b></h4>
                            <div class="rate">
                                <h5 class="info">{{product.rating}}&#9733;</h5>
                            </div>
                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [starTemplate]="t" rate={{product.rating}}>
                            </ngb-rating>
                            <h5 class="item-price">{{product.price|currency:"&#8377;"}}</h5>
                            <h6 class="info">{{product.size}} Reviews</h6>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <!-- end carousel for recent productDetails -->
    <br>
    <br>
    <!--  start carousel for trending productDetails -->
    <div id="container1">
        <h2 id="Trending_Products">Trending Products</h2>
        <div class="shine"></div>
        <br>
        <div ng2-carouselamos class="slides-wrapper" [items]="productDetails1" [width]="1150" [$prev]="prev" [$next]="next" [$item]="product1">
        </div>
        <ng-template #prev>
            <img src="../../assets/img/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
        </ng-template>
        <ng-template #next>
            <img src="../../assets/img/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
        </ng-template>
        <ng-template #product1 let-product1 let-i="index">
            <div class="productDetails">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card" id="card2">
                        <div class="img-box">
                            <img id="carimg" src="./assets/img/{{product1.image}}" class="img-responsive img-fluid" alt="Image not available" (click)="imageclick(product1)">
                        </div>
                        <div class="card-block">
                            <h4><b>{{product1.productName}}</b></h4>
                            <div class="rate">
                                <h4 class="info">{{product1.rating}}&#9733;</h4>
                            </div>
                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [starTemplate]="t" rate={{product1.rating}}></ngb-rating>
                            <h5 class="item-price">{{product1.price|currency:"&#8377;"}}</h5>
                            <h6 class="info">{{product1.size}} Reviews</h6>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <!-- end carousel for trending products -->



    <!-- sign up modal window for login -->
    <div class="modal fade" data-backdrop="" id="signup" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="Title">Sign In</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form #myForm="ngForm" (ngSubmit)="newlogin(lemailId.value,lpassword.value)">
                        <div class="form-group">
                            <label for="emailId">Email-Id</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input type="text" #lemailId id="emailId" class="form-control" placeholder="Enter your emailId" [ngClass]=" {'is-invalid':form.get('emailId').touched && form.get('emailId').invalid}" required>
                            </div>
                            <div class="invalid-feedback">
                                <div *ngIf="form.get('emailId').errors">Enter a valid email </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <input type="password" #lpassword name="password" id="password" class="form-control" placeholder="Enter your password" [ngClass]=" {'is-invalid':form.get('password').touched && form.get('password').invalid}" required>
                            </div>
                            <div class="invalid-feedback">
                                <div *ngIf="form.get('password').errors">Password mismatch </div>
                            </div>
                        </div>
                        <button type="submit" class="w3-btn w3-round-xxlarge" id="signinbutton"><b>Sign In</b></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <label for="rsubmitbutton" id="newaccountlabel">For new account&nbsp; <i class="far fa-hand-point-right"></i> </label>
                    <button type="button" #role value="reviewer" class="w3-btn w3-round-xxlarge" data-dismiss="modal" (click)="onClick(role.value)" id="two"><b>Reviewer</b></button>
                    <button type="button" #role1 value="product-owner" class="w3-btn w3-round-xxlarge" data-dismiss="modal" (click)="onClickPO(role1.value)" id="two"><b>Product
            Owner</b></button>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign up modal window -->
    <!-- sign up 1 modal window for reviewer -->
    <div class="modal fade" data-backdrop="" id="signup1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="title">Sign In</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form #myForm="ngForm" (ngSubmit)="reviewer(emailId.value,password.value)">
                        <div class="form-group">
                            <label for="revieweremailId">Email-Id</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input #emailId type="text" id="revieweremailId" class="form-control" placeholder="Enter your emailId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reviewerpassword">Password</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <input #password type="password" name="password" id="reviewerpassword" class="form-control" placeholder="Enter your password">
                            </div>
                        </div>
                        <button type="submit" class="w3-btn w3-round-xxlarge" id="reviewersigninbutton"><b>Sign
              In</b></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <label for="rsubmitbutton" id="newaccountlabel">For new account&nbsp; <i class="far fa-hand-point-right"></i> </label>
                    <button type="button" class="w3-btn w3-round-xxlarge" #role value="reviewer" data-dismiss="modal" (click)="onClick(role.value)" id="rsubmitbutton"><b>Reviewer</b></button>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign up 1 modal window -->
    <!-- sign up 2 modal window for product owner -->
    <div class="modal fade" data-backdrop="" id="signup2" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="productownertitle">Sign In</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form #myForm="ngForm" (ngSubmit)="productOwner(pemailId.value,ppassword.value)">
                        <div class="form-group">
                            <label for="productowneremailId">Email-Id</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input type="text" #pemailId id="productowneremailId" class="form-control" placeholder="Enter your emailId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productownerpassword">Password</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <input type="password" #ppassword name="password" id="productownerpassword" class="form-control" placeholder=" Enter your password">
                            </div>
                        </div>
                        <button type="submit" class="w3-btn w3-round-xxlarge" id="productownersigninbutton"><b>Sign In</b></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <label for="rsubmitbutton" id="newaccountlabel">For new account&nbsp; <i class="far fa-hand-point-right"></i> </label>
                    <button type="button" #role1 value="product-owner" class="w3-btn w3-round-xxlarge" data-dismiss="modal" (click)="onClickPO(role1.value)" id="psubmitbutton"><b>Product Owner</b></button>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign up 2 modal window -->
</mat-sidenav-container>
<!-- end side bar container -->
<br>
<br>
<div class="d-flex justify-content-center">
    <div class="grid-section-divider">
        <img src="../../assets/img/mat.png">
    </div>
</div>
<div class="texts">
    <h4>What makes Censeosphere so unique?</h4>
    <br>
    <div class="par">
        <p class="text-center text-md-left" id="para">

            Platform that can intelligently rate reviews in an automated manner. A platform that both product owner and consumer can make use of and make their purchasing or business decisions promptly. Censeosphere is a review community that builds trust and transparency
            between consumers and businesses. It is a one stop reviewing destination that provides the facility to view and review products around the globe. Addition to this,with your regular reviewing profile you get more credits that gradually create
            trustworthy environment for reviewer and business houses.</p>

    </div>
</div>
<br>
<br>
<div class="texts">
    <h4>The word on the street.</h4>
    <h5 id="five">verified reviews and counting.</h5>
    <br>
    <!-- <div class="par">
      <p class="text-center text-md-left" id="para">
          From TVs, receivers, headphones, and speakers to cameras, laptops, keyboards, smartphones, and routers, our team of experts has spent hundreds of hours testing the best home theater, audio, computer, networking, and gaming gear and accessories.
           If it has a speaker, a screen, or an antenna, or if it plugs into something that does, it's probably here.
           Trustpilot is a review community that builds trust and transparency between consumers and businesses. It helps in building reputation through collecting feedback, understanding customers. 
           It can drive traffic, increase conversion and improve service. There are four ways to leverage product reviews.    </p>
    </div> -->
    <br>
    <!-- <div class="container3"> -->
    <div class="row">
        <div class="col-6">
            <br>
            <br>
            <br>
            <div class="wrappers">
                <div class="card2">
                    <h1 id="cardone">
                        <br>
                        <span class="enclosed">Love</span><b>Censeosphere</b>
                        <br>
                        <p id="cardtext">Need specific product's review for your favourite product?<br> We are ready to help you!</p>
                    </h1>
                </div>
            </div>
        </div>

        <!-- <div class="wrappers1">
            <div class="card2">
              <h1 id="cardone">
                <br>
                <span class="enclosed">Our passion</span><b>your Success</b>
                <br>
                <p id="cardtext">We make your purchasing decision easy!</p>
              </h1>
            </div>
          </div> -->

        <div class="col-6" id="cont">
            <section class="stage">
                <figure class="ball"><span class="shadow"></span>
                    <p id="sphere"><strong>Censeo</strong ></p>
            </figure>
          </section>
        </div>
        </div>

     </div>
     <br>
     <br>
   <a href="#" class="gotopbtn" ><i class="far fa-hand-point-up"></i></a>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-3 bg-dark footer-dark">
  <!-- Footer Links -->
  <div class="container text-center text-md-left" id="footerone">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <!-- <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <img style="margin-top: 20px; height:100px;width: 50px;" class="card-img-top" src="assets/img/logo5.png" alt="image"> 
        <h2 id="two" style="color: white"><strong>Censeosphere</strong></h2>
                        <a href="#" style='font-size:24px'><i class='fas fa-home'></i></a>
        </div> -->
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 mx-auto mt-3" id="footertwo">
            <ul class="list-unstyled lead">
                <li>
                    <h5><strong>About us</strong></h5>
                </li>
                <li>
                    <a href="#"><strong> Vision & Goals </strong></a>
                </li>
                <li>
                    <a href="#"><strong> Company </strong></a>
                </li>
                <!-- <li>
            <a href="#"><strong> Blog </strong></a>
          </li> -->
                <!-- <li>
            <a href="#"><strong> Careers </strong></a>
          </li> -->
            </ul>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3  mx-auto mt-3">
            <ul class="list-unstyled lead">
                <li>
                    <h5><strong>Contact us</strong></h5>
                </li>
                <li>
                    <a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
                </li>
                <!-- <li>
            <a href="#"><i class="fa fa-phone"></i>&nbsp;<Strong>9874563129</Strong></a>
          </li> -->
                <li>
                    <a href="#"> <i class="fa fa-envelope"></i>&nbsp;
                        <Strong>niitstkrt@gmail.com</Strong>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <ul class="list-unstyled lead">
                <li>
                    <h5><strong>Insights</strong></h5>
                </li>
                <li>
                    <a href="#"><Strong>Privacy policy</Strong></a>
                </li>
                <!-- <li>
            <a href="#"><Strong>Terms & Conditions </Strong></a>
          </li> -->
                <!-- <li>
            <a href="#"><Strong>FAQs</Strong></a>
          </li> -->
                <li>
                    <a href="#"><Strong>Support</Strong></a>
                </li>
            </ul>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Footer links -->
    <hr class="side">
    <!-- Grid row -->
    <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
            <div class="col-md-12" id="iconss">
                <ul class="social-network social-circle" id="ulist">
                    <li><a id="faceb" href="#"><i class="fab fa-facebook" id="facebook"></i></a></li>
                    <li></li>
                    <li><a id="twit" href="#"><i class="fab fa-twitter" id="twitter"></i></a></li>
                    <li></li>
                    <li><a id="insta" href="#"><i class="fab fa-instagram" id="instagram"></i></a></li>
                    <li></li>
                    <li><a id="link" href="#"><i class="fab fa-linkedin-in" id="linkedin"></i></a></li>
                </ul>
            </div>
            <!--Copyright-->
            <p class="text-center text-md-right" id="paragraph">Copyright © All Rights Reserved by
                <strong>Censeosphere</strong>
            </p>
        </div>
    </div>
    <!-- Grid column -->
</div>
</footer>
<!-- end footer -->