a {
    text-decoration: none;
}

.navbar {
    background: linear-gradient(to right, #45166a, #83157b 75%, #bc158a);
    position: relative;
    height: 80px;
    position: fixed;
}

nav img {
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 60px;
}

#login {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 17px;
    margin-right: 30px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.33;
    border-radius: 2em;
    /* opacity: 0.5; */
    z-index: -1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
    font-weight: 600;
}

#logo {
    padding-left: 30px;
}

.container {
    position: center;
    padding-top: 130px;
}

#footerone {
    padding-top: 0px;
}


/* #login :hover{
    background-color: midnightblue;
} */


/* .containerbody,
.modal,
.jumbotron,
footer,
li,
h3,
h2,
.thumb-wrapper {
    font-family: 'Work Sans', sans-serif;
} */

.icon-bar {
    size: 80px;
}

.modal {
    display: none;
    /* Hidden by default */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

.modal-dialog {
    margin-left: 450px;
}

.modal-title {
    padding-left: 230px;
}

.modal-header {
    /* background: url('../../assets/img/see.jpg'); */
    background: linear-gradient(to right, #75578f, #c079ba 75%, #dbb4cf);
    width: 600px;
}

.modal-header h3 {
    margin: 0;
}

.modal-body {
    /* background: url('../../assets/img/see.jpg'); */
    height: 300px;
    width: 600px;
}

.modal-content {
    width: 602px;
}

.modal-footer {
    /* background: url('../../assets/img/see.jpg'); */
    background: linear-gradient(to right, #75578f, #c079ba 75%, #dbb4cf);
    width: 600px;
}

.form-group {
    padding-left: 150px;
    margin-top: 20px;
}

#signinbutton,
#reviewersigninbutton,
#productownersigninbutton {
    margin-left: 220px;
    margin-top: 20px;
    background-color: #83157b;
    color: white;
}

.input-group-text {
    background-color: rgba(192, 121, 186, 0.5);
}

#emailId,
#password,
#revieweremailId,
#reviewerpassword,
#productowneremailId,
#productownerpassword {
    width: 50%;
}

label {
    text-align: left;
}

.jumbotron {
    height: 690px;
    background: url('../../assets/img/lp2.jpg');
    /* width: 100%; */
    background-size: 100%;
}

#jumbotroninput {
    margin-left: 250px;
    /* margin: auto; */
    display: inline;
}

#jumbotronheading {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    margin-top: 80px;
    font-size: 50px;
    -webkit-animation-name: focus-in-contract-bck;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: focus-in-contract-bck;
    animation-duration: 2s;
}

#reviewbutton {
    margin-top: 10px;
    background-color: #83157b;
    color: white;
    letter-spacing: 1px;
    line-height: 1.33;
    border-radius: 2em;
    /* opacity: 0.5; */
    z-index: -1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
    font-weight: 600;
}

#newaccountlabel {
    font-size: 20px;
    padding-top: 7px;
}

#rsubmitbutton,
#two,
#psubmitbutton {
    font-size: 15px;
    background-color: #83157b;
    color: white;
}


/* #reviewbutton:hover{
    color: midnightblue;
} */


/* *:before, *:after { content: ''; } */

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}


/* Shine */

.shine {
    height: 15px;
    width: 60%;
    background-image: radial-gradient( farthest-side at 50% -50%, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0));
    position: relative;
    margin-left: 270px;
}

.shine::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient( 90deg, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.75) 50%, hsla(0, 0%, 0%, 0));
}

#productbutton {
    margin-top: 10px;
    background-color: #83157b;
    color: white;
    letter-spacing: 1px;
    line-height: 1.33;
    border-radius: 2em;
    /* opacity: 0.5; */
    z-index: -1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
    font-weight: 600;
}


/* #productbutton:hover{
    color: midnightblue;
} */

hr.style5 {
    background-color: #fff;
    border-top: 4px dashed #8c8b8b;
}

footer {
    margin-top: 80px;
    padding-top: 25px;
    background: linear-gradient(to right, #45166a, #83157b 75%, #bc158a);
    font-size: 14px;
    height: 100%;
    position: relative;
    display: block;
    line-height: 28px;
}

footer a {
    color: white;
    position: relative;
}

footer a:hover {
    color: #72f4bf;
    font-size: 18px;
}

.example-sidenav-container {
    top: 80px;
}

.example-sidenav {
    background: url('../../assets/img/bgw.png');
    width: 350px;
}

.card {
    margin-left: 4px;
    margin-right: 3px;
    padding: 25px 15px;
    background-color: white;
    text-align: center;
    /* position: relative; */
    font-size: 12px;
    width: 250px;
    overflow: hidden;
    border: none;
    border-radius: 9px;
    box-shadow: 2px 1.5px 3px 2px rgba(69, 22, 106, 1);
}

.img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.img-box img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

h4 {
    font-size: 20px;
}


/* h4:hover{
    color: #83157b;
} */

h4,
p,
ul {
    margin-bottom: 5px;
}

.item-price {
    /* font-size: 13px; */
    padding: 2px 0;
}

.star-rating {
    padding: 0;
}

.star-rating {
    font-size: 22px;
    color: #83157b;
}

.subcategory {
    color: #45166a;
    cursor: pointer;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-left: 0px;
    margin-left: 30px;
    margin-top: 20px;
}

#icons {
    min-height: 70px;
    min-width: 50px;
    margin-left: 20px;
}

.subcategory:hover {
    color: #bc158a;
    background-color: #87b8e0;
}

#sidebarheading {
    padding-top: 30px;
    color: midnightblue;
}

#container {
    padding-top: 50px;
}

#container,
#container1 {
    width: 80%;
    margin: 2em auto;
    padding: 10;
}

#container h2,
#container1 h2 {
    text-align: center;
}

#container1 h2 {
    margin-top: 30px;
}

.arrow {
    height: 30px;
    width: 50px;
}


/* .fa .fa-search
  {
    content:"\f002";
  } */

.card-img-top {
    padding-right: 40px;
    padding-left: 23px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

#facebook:hover {
    color: #3b5998;
}

#twitter:hover {
    color: #33b5e5;
}

#instagram:hover {
    color: palevioletred;
}

#linkedin:hover {
    color: #0077B5;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-right: 30px;
    /* background-color: #D3D3D3; */
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    font-size: 30px;
}

#sidebar {
    color: white;
    border-right: 1px solid white;
    height: 80px;
}


/* #sidebar i{
    width: 60px;
} */

.col-md-12 ul {
    float: right;
}

.col-md-3 h2 {
    padding-top: 40px;
}

.col-md-3 .fas {
    margin-left: 90px;
}

.text-md-right {
    color: white;
    padding-top: 66px;
    font-size: 15px;
}

#searchbutton {
    margin-right: 270px;
}

#searchbutton a {
    color: #45166a;
}


/* #searchbutton a i:hover{
      color:darkgoldenrod;
} */

.onclick {
    /* margin-left: 570px;    */
    margin: 0 auto;
}

h5 {
    color: white;
}

.info,
.item-price {
    color: black;
}

hr.side {
    border: solid;
    border-width: 1px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
}

.full {
    color: #83157b;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #83157b;
}

.rate {
    margin: 0 auto;
    /* background-color: rgba(0, 70, 128, 0.5); */
    width: fit-content;
}


/* .card1 {
        background:  url('../../assets/img/i3.jpg') center center no-repeat;
        border-radius: 9px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        cursor: pointer;
        font-size: 12px;
        height: 300px;
        margin: 20px;
        padding: 0 20px;
        overflow: hidden;
        border: none;
        position: relative;
        -webkit-tap-highlight-color: rgba(0,0,0,0.025);
        text-align: center;
        transition: height 1000ms;
        width: 300px;
      } */

@media (max-width: 767px) {
    .card1 {
        left: calc(50% - 0px);
        transform: translateX(-50%);
    }
}

.card1.expanded {
    height: 350px;
}

.label1 {
    margin-top: 30px;
    transform: translateY(10px);
    transition: transform 1000ms;
}

.card1.expanded .label1 {
    transform: translateY(0);
}

.text1 {
    clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
    -webkit-clip-path: polygon(40% 100%, 0 -90%, 50% -5%, 100% 90%, 10% 100%);
    transition: clip-path 1000ms;
}

.card1.expanded .text1 {
    clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
    -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}

.text-content {
    transform: translateY(160px);
    transition: transform 1000ms;
}

.card1.expanded .text-content {
    transform: translateY(-15px);
}

.title {
    /* font-family: 'Alegreya Sans', sans-serif; */
    font-weight: 90;
    margin: 20px 0 12px;
    font-size: 20px;
}

.body-text {
    padding: 0 20px;
}

#carimg {
    width: 300px;
    height: 190px;
    display: inline-block;
    bottom: 20;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#two,
h5,
h2,
#signup,
.modal-title,
#signup1,
#signup2,
#container,
#container1,
li a,
p,
title,
.info,
.item-price,
#reviewbutton,
#productbutton,
#login,
#jumbrotronheading,
.texts h4,
h4,
.containerbody,
.modal,
.jumbotron,
footer,
li,
h3,
.thumb-wrapper,
h1,
.container3,
.cardtext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    padding-right: 50px;
}

.d-flex {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.justify-content-center {
    justify-content: center;
}

.grid-section-divider img {
    height: 100%;
    width: 100%;
    /* background-size: 100%; */
    /* padding-left: 400px; */
}

.texts {
    margin-bottom: 20px;
}

.texts h4 {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    color: #45166a;
    -webkit-animation-name: tracking-in-contract-bck-bottom;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: tracking-in-contract-bck-bottom;
    animation-duration: 3s;
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

@media (max-width: 768px) {
    html,
    body,
    header {
        height: 1000px;
    }
    #jumbotroninput {
        margin-left: 150px;
        width: 75px;
    }
    #searchbutton {
        margin-right: 0px;
    }
    #insta,
    #faceb,
    #twit,
    #link {
        margin-right: 0px;
        height: 30px;
        width: 30px;
    }
    #iconss {
        margin-left: 80px;
    }
    #paragraph {
        width: 550px;
    }
    #para {
        margin-left: -100px;
    }
    .text-md-left {
        margin-left: -20px;
    }
    .wrappers {
        margin-left: -50px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 600px;
    }
}

@media (max-width: 320px) {
    #jumbotroninput {
        margin-left: 30px;
        width: 5px;
    }
    #searchbutton {
        margin-right: 0px;
    }
    .card {
        width: 220px;
    }
    .navbar {
        height: 150px;
    }
    #logo {
        width: 150px;
    }
    #login {
        font-size: 12px;
        margin-top: 60px;
        margin-left: 150px;
        margin-right: 10px;
    }
    #signup {
        width: 310px;
    }
    #two {
        margin-left: 80px;
    }
    #emailId,
    #password {
        width: 250px;
    }
    .modal-header,
    .modal-footer,
    .modal-body {
        width: 300px;
    }
    .modal {
        margin-top: 30px;
    }
    #iconss {
        margin-left: -6px;
    }
    #paragraph {
        width: 300px;
        font-size: 12px;
    }
    #par {
        width: 20px;
        height: 100px;
    }
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

#Recent_Products,
#Trending_Products {
    -webkit-animation-name: tracking-in-contract;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: tracking-in-contract;
    animation-duration: 4s;
}

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        letter-spacing: normal;
        opacity: 1
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        letter-spacing: normal;
        opacity: 1
    }
}

.par {
    height: 170px;
}

#para {
    width: 70%;
    margin-left: 250px;
    font-size: 20px;
}


/* #signup{
    background: url('../../assets/img/see.jpg')center center no-repeat;
} */

@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #45166a;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.gotopbtn:hover {
    background-color: rgb(158, 39, 104);
}

html {
    scroll-behavior: smooth;
}

#five {
    font-size: 20px;
    color: #45166a;
    text-align: center;
}

.wrappers {
    height: 220px;
    width: 500px;
    padding-left: 300px;
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
}

.card2 {
    grid-area: 1 / 1;
    height: 220px;
    width: 350px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(188, 21, 138, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200px;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0, 0, 0, .1);
}

#cardone {
    font-size: 20px;
    font-weight: 200px;
}

.card2 .enclosed {
    text-align: center;
    font-size: 30px;
    background: #000;
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
}

#cardtext {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.wrappers:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #45166a;
    box-sizing: content-box;
}

.wrappers:hover>div,
.wrappers:hover:before {
    transform: none;
}

.wrappers>div,
.wrappers:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25, .46, .45, 1);
}


/* .wrappers3 {
    height: 220px;
    width: 350px;
    padding-left: 300px;
    position: absolute;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
  }
  
  .card3 {
    grid-area: 1 / 1;
    height: 220px;
    width: 370px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(188, 21, 138, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200px;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  #cardthree {
    font-size: 20px;
    font-weight: 200px;
    margin-left:0px;
  }

  #cardtext1{
      margin-left:40px;
      color: white;
  }
  .card3 .enclosed {
    font-size: 23px;
    background: #000;
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .wrappers3:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #45166a;
    box-sizing: content-box;
  }
   
  .wrappers3:hover > div,
  .wrappers3:hover:before {
    transform: none;
  }

  .wrappers3 > div,
  .wrappers3:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
#col2{
    padding-right:380px;
} */

.ball {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 0;
    border-radius: 50%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    background: url('../../assets/img/globe.jpg') repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 30s infinite linear;
    -moz-animation: move-map 30s infinite linear;
    -o-animation: move-map 30s infinite linear;
    -ms-animation: move-map 30s infinite linear;
    animation: move-map 30s infinite linear;
}

.ball:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -40px 10px 70px 10px rgba(0, 0, 0, 0.5) inset;
    z-index: 2;
}

.ball:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-filter: blur(0);
    opacity: 0.3;
    background: radial-gradient(circle at 50% 80%, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

body {
    width: 300px;
    margin: 20px auto;
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
    background-repeat: no-repeat;
}

.stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

@-moz-keyframes move-map {
    0% {
        background-position: -849px 0;
    }
    100% {
        background-position: 0 0;
    }
}

@-webkit-keyframes move-map {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -849px 0;
    }
}

@-o-keyframes move-map {
    0% {
        background-position: -849px 0;
    }
    100% {
        background-position: 0 0;
    }
}

@-ms-keyframes move-map {
    0% {
        background-position: -849px 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes move-map {
    0% {
        background-position: -849px 0;
    }
    100% {
        background-position: 0 0;
    }
}

#sphere {
    text-align: center;
    margin-top: 135px;
    margin-left: 30px;
    color: black;
    font-size: 24px;
    font-weight: 900;
}

#cont {
    padding-left: 100px;
}