<!-- header -->
<div class="image">
    <div class="containerbody">
        <nav class="navbar navbar-expand-lg fixed-top">

            <img src="../../assets/img/logo14.png" (click)="logoclick()">
            <div class="dropdown">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span> <i class='fas fa-user-circle'></i></span> My Account <strong class="caret"></strong>
                </a>
                <ul id="drop" class="dropdown-menu">
                    <li><button class="dropdown-item" (click)="update()"><span><i class="fa fa-refresh"></i></span>  Update profile</button></li>
                    <li><button class="dropdown-item" (click)="lpage()"><span><i class="fa fa-power-off"></i></span> Log out</button></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header -->
    <div class="containerform">
        <br>
        <h2 class="mainheader">Write a review</h2>
        <hr class="shine">


        <!-- card start  -->
        <div class="flex-container">
            <div class="left">
                <div class="thumb-wrapper">
                    <div class="img-box">
                        <img src="./assets/img/{{product.image}}" id="productimage" class="img-responsive img-fluid" alt="Image not found">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="thumb-content">
                    <h3><b>{{product.productName}}</b></h3>

                    <div class="rate">
                        <h4 class="info">{{product.rating}}&#9733;</h4>
                    </div>

                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>

                    <ngb-rating [startTemplate]="t" rate="{{product.rating}}"></ngb-rating>
                    <h5 class="item-price">{{product.price|currency:"&#8377;"}}</h5>
                    <h5 class="info"><b>Specification : </b>{{product.specifications}}</h5>
                    <h5 class="info"><b>Description : </b>{{product.description}}</h5>

                </div>

            </div>

        </div>
        <!-- card end -->


        <div class="container">
            <form name="reviewForm" class="reviewForm" #myForm="ngForm" (ngSubmit)="onSubmit(reviewtitle.value,reviewdesc.value)">
                <div class="form-group">
                    <label id="text" for="title">Review Title</label>
                    <input type="text" #reviewtitle class="form-control" id="title" required>
                </div>
                <div class="form-group">
                    <label id="text" for="review">Review Description</label>
                    <textarea type="text" class="form-control" #reviewdesc id="review" required> </textarea>
                </div>

                <button type="submit" id="submit" class="w3-btn w3-round-xxlarge" data-toggle="modal" data-target="#myModal">Submit Review</button><br>
                <div class="modal fade" data-backdrop="" id="myModal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-body">
                                Reviewed Successfully..
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="account()">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--form end here-->
    </div>

    <!-- footer -->
    <footer class="page-footer font-small mdb-color pt-4 bg-dark footer-dark">

        <!-- Footer Links -->
        <div class="container text-center text-md-left" id="footerone">

            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">

                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 mx-auto mt-3">
                    <ul class="list-unstyled lead">
                        <li>
                            <h5><strong>About us</strong></h5>
                        </li>
                        <li>
                            <a href="#"><strong> Vision & Goals </strong></a>
                        </li>
                        <li>
                            <a href="#"><strong> Company </strong></a>
                        </li>
                        <li>
                            <a href="#"><strong> Blog </strong></a>
                        </li>
                        <li>
                            <a href="#"><strong> Careers </strong></a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3  mx-auto mt-3">
                    <ul class="list-unstyled lead">
                        <li>
                            <h5><strong>Contact us</strong></h5>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-map-marker"></i>&nbsp;<Strong>Location</Strong></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i>&nbsp;<Strong>9874563129</Strong></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-envelope"></i>&nbsp;
                                <Strong>niitstkrt@gmail.com</Strong>
                            </a>
                        </li>
                    </ul>

                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <ul class="list-unstyled lead">
                        <li>
                            <h5><strong>Insights</strong></h5>
                        </li>
                        <li>
                            <a href="#"><Strong>Privacy policy</Strong></a>
                        </li>
                        <li>
                            <a href="#"><Strong>Terms & Conditions </Strong></a>
                        </li>
                        <li>
                            <a href="#"><Strong>FAQs</Strong></a>
                        </li>
                        <li>
                            <a href="#"><Strong>Support</Strong></a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Footer links -->

            <hr class="side">

            <!-- Grid row -->
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">
                    <div class="col-md-12" id="iconss">
                        <ul class="social-network social-circle" id="ulist">
                            <li><a id="faceb" href="#"><i class="fab fa-facebook" id="facebook"></i></a></li>
                            <li></li>
                            <li><a id="twit" href="#"><i class="fab fa-twitter" id="twitter"></i></a></li>
                            <li></li>
                            <li><a id="insta" href="#"><i class="fab fa-instagram" id="instagram"></i></a></li>
                            <li></li>
                            <li><a id="link" href="#"><i class="fab fa-linkedin-in" id="linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!--Copyright-->

                    <p class="text-center text-md-right" id="paragraph">Copyright © All Rights Reserved by
                        <strong>Censeosphere</strong>
                    </p>
                </div>
            </div>
            <!-- Grid column -->
        </div>
    </footer>
    <!-- end footer -->
</div>