h2{
    text-align: center;
}

.navbar{
    background-color:lightblue;
    position: relative;
    height: 80px;
    position: fixed;
}
nav img{
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 70px;
}
 nav .dropdown{
  
   color: black;
   font-size: 20px;
   position: absolute;
   right: 0;
   top: 0;
   margin-top:20px;
   margin-right:100px;
   
 }
 #main{
     margin-top: 80px;
 }


.jumbotron{
    height: 400px;
    background: url('../../assets/img/appliances-home.png') center center no-repeat;
}
#jumbotroninput{
    width: 600px;
    margin-left: 250px;
    
}
#jumbotronheading{
    background: rgba(0,0,0,0.4);
    color:white;
    margin-top: 80px;
} */

#main{
    margin-top:90px;
}


/* .container{
    margin-top: 90px;
} */


footer
{
    margin-top: 80px;
    padding-top: 25px;
    background-color: #f2f2f2;
    font-size: 14px;
    height: 180px;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: #17a2b8;
    position: relative;
}
footer a:hover{
    color: midnightblue;
    font-size: 18px;

}


/* .container{
    margin-top: 90px;
} */

