<!-- header -->

  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="example-sidenav-content">
      <button id="sidebar" class="hamburger mat-button" mat-button (click)="snav.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <img src="../../assets/img/logo6.png">
    <div class="dropdown">
      <!-- <button type="submit" class="btn btn-info" id="addproduct" (click)="add()">Add Product</button> -->
      <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span> <i class='fas fa-user-circle'></i></span> My Account <strong class="caret"></strong>
      </a>
      <ul id="drop" class="dropdown-menu">
       <li><button class="dropdown-item" (click)="update()" ><span><i class="fa fa-refresh"></i></span>  Update profile</button></li>
       <li><button class="dropdown-item" (click)="lpage()" ><span><i class="fa fa-power-off"></i></span> Log out</button></li>
      </ul>
    </div>
  </nav>

  <div class="container" id="main">
      <h2>Add a Product</h2>
     
    <hr>

    <!-- <form class="form-horizontal" #myForm="ngForm"> -->

    <form  [formGroup]="firstFormGroup"  >
    <div class="form-group">
        <label for="category" class="col-sm-3 control-label">Product Category</label>
        <div class="col-sm-3">
       <select class="form-control" formControlName="CategoryCtrl">
      <option value="electronic devices">Electronic Devices</option>
      <option value="education">Education</option>
      <option value="hospitals">Hospitals</option>
       </select>
      </div>
    </div>
    
        <!--Produt Subcategory-->
    
     <div class="form-group">
        <label for="tech" class="col-sm-3 control-label" >Product Subcategory</label>
        <div class="col-sm-3">
       <select formControlName="SubCategoryCtrl" class="form-control">
      <option value="tv">T.V</option>
      <option value="mobiles">Mobiles</option>
      <option value="ac">A.C</option>
       </select>
     </div>
    </div>
    
    <!--Product Name-->
    
     <div class="form-group">
        <label for="qty" class="col-sm-4 control-label">Product Name</label>
        <div class="col-sm-4">         
            <input type="text" class="form-control" placeholder="Enter Product Name" [(ngModel)]="productName" 
            formControlName="ProductNameCtrl">


          </div>
        </div>
    
    <!--Product Family-->
    
     <div class="form-group">
        <label for="qty" class="col-sm-4 control-label">Product Family</label>
        <div class="col-sm-4">
       <input type="text" class="form-control" placeholder="Enter Product Family" [(ngModel)]="productFamily" formControlName="ProductFamilyCtrl">
        </div>
    </div>
    
    <!--Product Price-->

    <div class="form-group">
      <label for="qty" class="col-sm-4 control-label">Product Price</label>
      <div class="col-sm-4">         
          <input type="text" class="form-control" placeholder="Enter Product Price" [(ngModel)]="productPrice" formControlName="ProductPriceCtrl">
        </div>
      </div>
  

    <!--Product Specifications-->
    
     <div class="form-group">
        <label for="about" class="col-sm-3 control-label">Product Specifications</label>
        <div class="col-sm-9">
          <textarea class="form-control" [(ngModel)]="productSpecifications" formControlName="ProductSpecificationsCtrl"></textarea>
        </div>
     </div>
    

    
    
    <!--Product Description-->
    
     <div class="form-group">
        <label for="about" class="col-sm-3 control-label">Product Description</label>
        <div class="col-sm-9">
          <textarea class="form-control" [(ngModel)]="productDescription" formControlName="ProductDescriptionCtrl"></textarea>
        </div>
      </div>
    
    
    <!--Adding a image-->
     
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Add a Image</label>
        <div class="col-sm-3">
            <label class="control-label small" for="file_img">Product Image(jpg/png/jpeg/gif):</label> <input type="file" accept=".jpg,.jpeg,.gif,.png" [(ngModel)]="productImage" formControlName="ProductImageCtrl"> 
            <button type="button">Upload</button>
        </div>
      </div> 
    
    <!--Save Product-->
    
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
           <!-- <button type="submit" class="btn btn-primary" (click)="saveProduct()">Save Product</button> -->
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="saveProduct()">
              Save Product
            </button> 
        </div>
      </div> 


  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <div class="modal-body">
          Product Saved Successfully..
        </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="account()">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</form>
</div>
    



  


<!-- footer -->
 <footer class="page-footer font-small blue pt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><strong> About Us</strong></a>
          </li>
        </ul>

      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Contact Us</Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Feedback <i class="fa fa-comments"></i></Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li>
            <a href="#"><Strong>Terms & Condition</Strong></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled lead">
          <li id="socialsite">
            <a href="#"><i class="fa fa-twitter-square"></i> </a>&nbsp;
            <a href="#"><i class="fa fa-facebook-square"></i> </a>&nbsp;
            <a href="#" id="envelope"><i class="fa fa-envelope"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
