.containerbody{
    margin: 0;
    padding: 0;
  }

  .navbar{
   background-color:lightblue;
   position: relative;
   height: 80px;
   position: fixed;
}
nav img{
   height: 55px;
   width: 280px;
   position: fixed;
   margin-left: 70px;
}
 nav .dropdown{
  
   color: black;
   font-size: 20px;
   position: absolute;
   right: 0;
   top: 0;
   margin-top:20px;
   margin-right:100px;
   
 }
 
footer
{
    margin-top: 80px;
    padding-top: 25px;
    background-color: lightgrey;
    font-size: 18px;
    height: 180px;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: #17a2b8;
    position: relative;
}
footer a:hover{
    color: midnightblue;
    font-size: 18px;
    text-decoration: none;
}
#reason{
   margin-top: 100px;
   text-align: center;
}
 .thumb-wrapper {
   margin-left: 200px;
   margin-top: 30px;
	padding: 25px 15px;
	background: #def2f1;
	border-radius: 6px;
	text-align: center;
	position: relative;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    width: 700px;
} 
.thumb-wrapper a:hover{
   color:rgb(38, 4, 161);
}
.reviewForm {
   margin-top: 25px;
   margin-left: 200px;
   margin-right: 200px;
   font-size: 22px;
}
.form-control{
   padding: 15px;
}
#submitit{
   background-color: #17a2b8;
   color: white;
}
/* #prod{
   margin-top: 120px;
   text-align: center;
}

.props{
   padding-top:20px;
   text-align: left;
   font-size: 18px; 
} */
.star-rating .checked {
   color: orange;
 }
 
  .star-rating .fa-star-half-o{color: orange;}
 .mat-tab-group {
     margin-bottom: 48px;
   }
