.containerbody{
    margin: 0;
    padding: 0;
  }

.navbar{
    background-color:aliceblue;
    position: relative;
    height: 80px;
    position: fixed;
   
 }
 nav img{
    height: 60px;
    width: 200px;
    position: fixed;
    margin-left: 50px;
 }
 nav .dropdown{
  
   color: black;
   font-size: 20px;
   position: absolute;
   right: 0;
   top: 0;
   margin-top:20px;
   margin-right:100px;
   
 }
 footer
{
   margin-top: 180px;
   margin-bottom: 0px;
   padding-top: 40px;
   background-color: grey;
   font-size: 20px;
   height: 150px;
}
footer a{
   color: black;
}
#socialsite{
   padding-left: 30px;
}
#envelope{
   padding-right: 50px;

}
footer a:hover{
   color:rgb(88, 75, 75);
   font-size: 25px;
}
.thumb-wrapper {
   margin-left: 250px;
   margin-top: 160px;
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    width: 300px;
}
.thumb-wrapper a:hover{
   color:rgb(38, 4, 161);
}
.reviewForm {
   margin-top: 50px;
   margin-left: 250px;
   border-block: 2px;
}
.form-control{
   padding: 15px;
}
#title{
   width: 1000px;
}
#review{
   width: 1000px;
   height: 150px;
}
form button{
   margin-right:0px;
   margin-left: 800px;
}