.card {
   
   
  padding: 25px 15px;
  background: url('../../assets/img/i3.jpg') center center no-repeat;
    text-align: center;
    font-size: 12px;
    width: 300px;
    overflow: hidden;
    border: none;
  border-radius: 9px;
    box-shadow: 1.5px 1.5px 3px rgba(0,0,0,2.5);
    
  
  }
  .products{
    margin-left: auto;
    margin-right: auto;
  }
  