.containerbody{
    margin: 0;
    padding: 0;
    
  }
  a{
    text-decoration: none;
}
  .navbar{
    background-color:lightblue;
    position: relative;
    height: 80px;
    position: fixed;
}
nav img{
    height: 55px;
    width: 280px;
    position: fixed;
    margin-left: 70px;
}
 nav .dropdown{
  
   color: black;
   font-size: 20px;
   position: absolute;
   right: 0;
   top: 0;
   margin-top:20px;
   margin-right:100px;
   
 }
 
  #btn1{
    background-color: #17a2b8;
    color: white;
  }
  #btn2{
    background-color: #17a2b8;
    color: white;
  }
.mat-tab-group
{

  margin-top: 100px;
}
 .container
{
  margin-top: 25px;
}
.container-fluid{
  background-image:url(../../assets/img/ph.jpg);
  border-style: 1px solid grey;
  background-size:cover;
  background-position:center;
  padding-top:50px;
  padding-bottom:300px;
  
}
.fakeimg {
  height: 200px;
  background: #aaa;
}

footer
{
    margin-top: 80px;
    padding-top: 25px;
    background-color: #f2f2f2;
    font-size: 14px;
    height: 180px;
    position: relative;
    display: block;
    line-height: 28px;
}
footer a{
    color: #17a2b8;
    position: relative;
}
footer a:hover{
    color: midnightblue;
    font-size: 18px;
}
#heading
{
  margin-top: 120px;
  text-align: center;

}
.center_div
{
  margin: 0 auto;
  position: relative;
}
#editform{
  
  margin: 0 auto;
  
}

 